[2018-09-28 10:30] Honzixx commented on #427
Tak to funguje, dostal jsem se k tomu a Yukie vytvoří portál ještě před vstupem do chrámu (zkratka).
Jediná hláška Ya Ta! je na konci tohoto dialogu a ne floating (obr. 2) a ani v souboru Yukie.dlg jsem nenašel zmínku o floating hlášce Ya Ta! (pokud to není v jiném souboru).
https://snag.gy/IpRPi1.jpg
https://snag.gy/oaeIE1.jpg
https://snag.gy/PRBt7n.jpg

[2018-09-28 10:33] Honzixx opened #440 "Foto Lily"
Všimnul jsem si, že není přeložena zadní strana (datum a Santa Monica) u fotografie Lily
https://snag.gy/wTLQHt.jpg

[2018-09-28 10:48] miracleflame commented on #427
Výborné. Díky.

[2018-09-28 10:48] #427 closed, assigned to Honzixx, maarten93

[2018-09-28 11:23] Honzixx commented on #431
Vše OK, u 933 a 1033 funguje -1 dávky krve.

[2018-09-28 12:16] miracleflame commented on #431
super dík

[2018-09-28 12:16] #431 closed, assigned to Honzixx, maarten93

[2018-09-28 12:38] Honzixx commented on #434
Otestoval jsem to přímo na vrakovišti a je to OK.

[2018-09-28 13:04] miracleflame commented on #434
Paráda. Dík.

[2018-09-28 13:04] #434 closed, assigned to Honzixx, maarten93

[2018-09-28 15:26] soulcharmer commented on #435
Jo, to zni dobre.

Davalo by smysl zadat bug report proti UP, pokud jde o ty chybejici hlasky na konci teto repliky?

Diik

[2018-09-28 19:43] miracleflame commented on #435
Myslím, že je to tak by design. Totiž, toto si tam Wesp vymyslel ako novú možnosť upratať si bordel v inventári. Hláška od Lily nechýba, lebo žiadna nebola nahovorená, takže to ide do Auto-End... a notifikácie na Item Lost tuším neexistujú, iba Item Gained.

Zatvorím to, ak súhlasíš.

EDIT:
Tak som to trochu preskúmal a náhodou tam je možnosť elegantne to napojiť na
{	281	}{	Děkuji.	}{	Děkuji.	}{

[2018-09-29 20:45] soulcharmer commented on #435
Jasne, to vypada dobre, diky

[2018-09-30 08:34] miracleflame commented on #440
![screenshot2789](https://user-images.githubusercontent.com/19254203/46255351-449ecc00-c49c-11e8-9810-1b71012532bb.jpg)

[2018-09-30 08:37] miracleflame commented on #440
Dík, preložené.

[2018-09-30 08:37] #440 closed, assigned to miracleflame

[2018-09-30 08:41] miracleflame commented on #435
@soulcharmer
Wesp to ešte na popud Malkava vylepšil na
"Dead presidents rule. Take your trinkets and turn them green..."
takže....?
"Protože mrtví prezidenti vládnou. Vem si své tretky a udělej z nich zelené..."

[2018-09-30 09:09] Honzixx commented on #432
Tady je vše OK. Zkusil jsem G.Patch_Plus=0 i 1.

[2018-09-30 10:06] Honzixx commented on #433
Vše je OK.

[2018-09-30 11:47] Honzixx commented on #438
Zkusil jsem podmínky nahodit příkazama a většina e-mailů dojde. Zde jsou 3 maily, které nedošly. Mají ale v souboru haven_pc.txt jiné dependency podmínky, než jsi sem napsal ty.
1)
"subject"	"Jses tu jeste?"
		"sender"	"bertram@schrecknet.vtm"
		"body"		"Jestli tohle ctes, tak jses asi porad mezi nemrtvymi. Mam pro tebe nabidku, pokud si najdes chvilku. Vis, kde me najit. Tentokrat to nebude nic t

[2018-09-30 15:16] #432 closed, assigned to Honzixx, maarten93

[2018-09-30 15:16] #433 closed, assigned to Honzixx, maarten93

[2018-09-30 16:03] miracleflame commented on #438
Zašmodrchal sa nám do Plusovej verzie češtiny starý haven_pc, ktorý už nemá byť žiadny v Plusovej verzii, takže za to sa ospravedlňujem, treba si inštalačku skompilovať nanovo, aby sa do hry dostal správny haven_pc a testovať znovu.

Ale už toto ukazuje úspešný význam testovania. Dík.

[2018-09-30 20:38] soulcharmer commented on #435
"Mrtví prezidenti vládnou. Vezmi sobě své tretky a proměň je na zelenou..."

[2018-10-01 16:29] maarten93 commented on #438
Vyšla nová verze Unofficial patch 10.1 https://forums.planetvampire.com/bloodlines-tech-support/unofficial-patch-10-1-released!/

[2018-10-01 17:05] maarten93 commented on #438
Vše funguje.

[2018-10-03 22:44] #435 closed, assigned to soulcharmer

[2018-10-03 23:22] #438 closed, assigned to Honzixx, maarten93

[2018-10-06 09:47] miracleflame opened #441 "UP10 test and release"
Ján testuje celú hru pokiaľ viem a keď skončí, myslím, že sme pripravení na release.

[2018-10-06 13:04] Honzixx opened #442 "Bill vs. Phil"
Po osvobození Lily zabije doktora jménem Bill. https://snag.gy/eFmwnL.jpg
Pokud toho doktora zabiju ještě před touto scénou, nebo ho nechám naživu, pořád se jmenuje Bill.
Po scéně rozhovor s Vandalem:
Pokud jsem doktora zabil před scénou, mluví se o Billovi. https://snag.gy/X54f6L.jpg
Pokud doktora nezabiju před scénou, mluví se o Philovi. https://snag.gy/v3fdtA.jpg
Pokud si pamatuju dobře, tak ve

[2018-10-06 14:03] maarten93 opened #443 "Léčení krví"
Kosmetická drobnost, není přeloženo Duration.

https://snag.gy/L6w9zv.jpg

[2018-10-06 14:06] maarten93 opened #444 "Titulky bez zvuku č2."
Už se to kdysi řešilo tady: https://github.com/soulcharmer/gog_bloodlines_cz/issues/386

Tohle je z dneška:
https://snag.gy/7DUCrk.jpg

[2018-10-06 14:41] maarten93 opened #445 "Hlídač v tutoriálu"
Tohle asi nesouvisí s češtinou? Ale pamatuji si z dřívějška že pokud pošlu hlídače v Tutoriálu na před tak ho zabije sabat a já přijdu o bod lidskosti, teď jsem udělal to samé a nic se nestalo.

https://snag.gy/IFZC4P.jpg
https://snag.gy/mykgKo.jpg

[2018-10-06 14:43] maarten93 commented on #441
Budeš implementovat i UP 10.1? Je tam opraveno celkem dost chyb, mimo jiné i historie co jsi hlásil Wespovi.

[2018-10-06 15:24] Honzixx commented on #445
Taky si pamatuju, ze to tak bylo. Ja mam svoji lidskost rad, tak ho proto nechavam nazivu 😀

[2018-10-06 16:08] maarten93 commented on #445
Já to chci zkusit dohrát za sabat, tenhle konec jsem ještě nikdy neměl a myslím že je na to potřeba nižší lidskost.

[2018-10-06 16:14] miracleflame commented on #441
Je tam toho fakt hodne. Až príliš moc. A na GOGu to ešte dlho nebude tipujem...
Náš preklad vychádza z inštalácie GOGu, neobsahuje kopec súborov, ktoré by si ostatní museli doinštalovať cez samostatný UP patch. To zas niekedy nabudúce o rok, keď na GOGu vyjde 10.3 :D

[2018-10-06 19:06] maarten93 opened #446 "Male"
https://snag.gy/uF0RDW.jpg
Nepřeloženo Male:

[2018-10-06 19:13] maarten93 commented on #442
Není původní doktor Phil? A náhradní Bill? Předtím se Bill jmenoval Nicka řešilo se to tady: https://github.com/soulcharmer/gog_bloodlines_cz/issues/357

[2018-10-06 20:11] maarten93 opened #447 "Žaneta"
Tady podle mě úplně nesedí vyznění překladu: https://snag.gy/sVO1e8.jpg   (Sklapni konečně. Prostě ti to nedám a basta.)  V angličtině by tam mělo být tohle: I'm sorry to hear that Jeanette, but I really need to give it to Therese.(něco jako: To je mi opravdu líto Žaneto, ale potřebuji to předat Tereze)  https://snag.gy/2zJAYG.jpg
https://steamcommunity.com/sharedfiles/filedetails/?id=215066276
A

[2018-10-06 21:43] maarten93 opened #448 "Trip"
Nevím jestli je to chyba, ale když jsem šel prodat věci k Tripovy tak rozhovor začal jako bych u něj ještě nebyl, ale předtím jsem u něj byl už několikrát.

https://snag.gy/3cdPX1.jpg

[2018-10-06 22:22] maarten93 opened #449 "Chunkův bratr"
https://snag.gy/uKSgrU.jpg
Místo Chunka je v átriu jeho bratr(Chunk je mrtvý), u jeho popisku se objevuje jméno Chunk, u předchozích bylo Chunkův bratr a navíc není přeloženo.
https://snag.gy/ClbzhR.jpg

[2018-10-07 08:45] miracleflame commented on #442
Nedarí sa mi zistiť, prečo by to nemalo fungovať podľa zámeru, súbory sedia s anglickými... Prosím majte k dispozícii aj anglickú verziu a všetko na čo natrafíte otestujte použitím sejvu aj v anglickej verzii, nech vieme hneď určiť, či to je chyba UP alebo prekladu. Tuto mi to zatiaľ pripadá ako chyba v UP.

[2018-10-07 13:31] maarten93 commented on #442
Problém bude v tom že replika předtím než je Lily zabit Phill/Bill je společná pro oba v angličtině jsou oba pojmenováni Scrubs says:, Až potom Vandal Mluví o Phillovi/Billovi podle toho jestli Phill žije.

https://snag.gy/Vibat0.jpg

Předtím bylo Scrubs přeloženo jako Nicka, viz: https://github.com/soulcharmer/gog_bloodlines_cz/issues/357#issuecomment-285017396
K tomuto se mi vybavil seriál Scrub

[2018-10-07 14:26] maarten93 opened #450 "Patty"
https://snag.gy/eB0dDi.jpg
Nepřeloženo.

[2018-10-07 15:43] maarten93 opened #451 "Lidožrout"
https://snag.gy/mNgKVy.jpg
Skeyline->Skyeline

[2018-10-07 16:40] maarten93 opened #452 "Hon na Muddyho"
https://snag.gy/QNOypD.jpg
Skyline->Skyeline

[2018-10-08 10:55] miracleflame commented on #442
Toto je obrázok na 100% z anglického UP10? To bby potom znamenalo, že sound\character\male\blue_blood\Bill/Phil je úplne odignorované a berie sa to iba zo sound\character\male\blue_blood\
Ak by sa potvrdilo, že to tak je, v tom prípade by sa podľa mňa hodil preklad Doktůrek, ako navrhuješ.

[2018-10-08 15:09] Honzixx opened #453 "Heather - svému/svojemu"
U třetí možnosti v rozhovoru s Heather je slovo "svojemu". Správně to má být "svému".
https://snag.gy/8JnEgD.jpg

[2018-10-08 15:18] Honzixx opened #454 "Muzeum po dokončení mise"
Po dokončení mise v muzeu mi stále zůstává Muzeum na mapě města.
https://snag.gy/a851yR.jpg
Mohu se tam přenést, ale už se nedostanu pryč, protože není na konci Beckett.
ttps://snag.gy/BbYpHN.jpg

[2018-10-08 18:08] maarten93 commented on #442
V Gogu jsem dal Verify/Repair a pak jsem nainstaloval UP10+ ve verzi final, takže by to tak mělo být.

[2018-10-08 18:19] maarten93 commented on #445
Zkoušeno v English a nefunguje.

[2018-10-08 18:22] maarten93 commented on #445
Tady podle toho to měli v UP10 opravit
+Restored killing innocents Humanity loss and tutorial guard death.
https://forums.planetvampire.com/bloodlines-tech-support/unofficial-patch-10-0-released!/

[2018-10-08 18:26] maarten93 commented on #454
Znovu navštívení muzea, by mělo být umožněno v patchi UP10
+Opened museum and Giovanni Mansion after quests for Pisha's items.
https://forums.planetvampire.com/bloodlines-tech-support/unofficial-patch-10-0-released!/

[2018-10-08 19:52] miracleflame commented on #454
V tom prípade by sa malo dať aj normálne odísť asi tou istou cestou ako si prišiel... Skús to preveriť a ak by bol problém nahlásim Wespovi.

[2018-10-08 19:53] miracleflame commented on #452
To vážne sa v celej hre píše Skyeline a nie Skyline?

[2018-10-08 20:00] maarten93 commented on #452
Přímo na baráku na ceduli je napsáno Skyeline.

[2018-10-08 21:03] miracleflame commented on #444
v anglickej verzii sa to správa rovnako?

[2018-10-09 05:45] Honzixx commented on #454
Tak za to se omlouvám, nevěděl jsem a nenapadlo mě zkusit odejít jinak. Kanálem a taxi se normálně odejít z muzea dá. Možno zavřít ;-)

[2018-10-09 07:23] Honzixx opened #455 "Posel s kazetou"
Při hledání kazety pro Izaka, po rozhovoru s poslem, který pak uteče za roh. Nepřeložené "male" a pár drobností ve floating. https://snag.gy/960yra.jpg

[2018-10-09 13:36] Honzixx opened #456 "Gary"
Nemá to být Mesto pyrátů s dlouhým ů? https://snag.gy/2JDbIY.jpg

[2018-10-09 18:57] maarten93 commented on #444
Vyzkoušeno v angličtině titulky tam nejsou.
ještě jsem narazil znovu na tohle taky beze zvuku. https://snag.gy/VP9uY5.jpg

[2018-10-09 19:15] maarten93 commented on #448
Testoval jsem v Aj, a je to tam taky, asi to není chyba, uzavřel bych to.

[2018-10-10 08:49] miracleflame commented on #443
Tak to vyzerá, že tieto súbory predsa bude treba preložiť. Prosím otestujte s týmto ešte raz disciplíny a okultné predmety.

[traiteffect.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2463875/traiteffect.txt)
[traiteffects000.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2463876/traiteffects000.txt)

[2018-10-10 09:08] maarten93 opened #457 "Grout audiozáznam"
https://snag.gy/4CRobS.jpg
NEBE NA SEBOU. ->NEBE NAD SEBOU.

[2018-10-10 09:11] maarten93 commented on #457
https://snag.gy/CWX0b8.jpg
SVOU VÁBÍCÍ PÍSE VOLILI.->SVOU VÁBÍCÍ PÍSEŇ VOLILI.

[2018-10-10 09:13] maarten93 opened #458 "Noviny v Groutově bludišti"
https://snag.gy/gjs7om.jpg
Text ZVLÁŠTNÍ VYDÁNÍ mimo noviny

[2018-10-10 09:17] maarten93 commented on #443
Otestuji, ale pokud jsem něco nepřehlídnul tak u všech ostatních schopností a artefaktů na které jsem narazil bylo zatím vše přeloženo.

[2018-10-10 09:29] Honzixx commented on #443
Zkusil jsem všechny artefakty dříve zmíněné plus i ty, které mám momentálně ve hře a vše vypadá ok.
Schopnosti zatím taky ok.

[2018-10-10 09:36] maarten93 commented on #443
Tak beru zpět, zkusil jsem krvavou hvězdu a stejný problém.
https://snag.gy/F1gvkc.jpg
jinak zatím mám u sebe krvavou hvězdu, Tarulfang a bodlák Weekapaug

[2018-10-10 09:43] Honzixx commented on #443
Zvláštní, já mám krvavou hvězdu přeloženou s těmito soubory od Miry
https://snag.gy/oVD1iO.jpg

[2018-10-10 09:44] miracleflame commented on #444
Zas sa ukázalo, že mojou vinou niečo nie je fixnuté tak, ako som si myslel. V dumpoch nám ostalo kopec súborov, ktoré boli z češtiny vymazané. Premazal som to a teraz urobím zopár tiketov na pretestovanie záležitostí, ktoré nám dlhodobo smrdeli vo výslednom preklade a teraz odrazu zmizli z prekladu.

Díky za tú neodbytnosť! ;)

Takže toto by už malo byť fixnuté.

[2018-10-10 09:44] miracleflame opened #459 "test floating hlášok v boji s Jezebel Locke"
Prosím otestujte, čo sa presne zobrazuje pri boji keď napríklad utečiete, ukryjete sa, hľadá vás a pod. Malo by stačiť aspoň niečo z toho.

Toto je test kvôli premazaniu dumpov, ktoré obsahovali súbory dávno vyjmuté z prekladu.

[2018-10-10 09:45] miracleflame opened #460 "test floating hlášok v boji so Stanom Gimblom"
Prosím otestujte, čo sa presne zobrazuje pri boji keď napríklad utečiete, ukryjete sa, hľadá vás a pod. Malo by stačiť aspoň niečo z toho.

Toto je test kvôli premazaniu dumpov, ktoré obsahovali súbory dávno vyjmuté z prekladu.

[2018-10-10 09:49] Honzixx opened #461 "Artefakty nevypisující účinek"
U Bodláku Weekapaug https://snag.gy/pMRL6r.jpg
a u Elizina srdce https://snag.gy/hbwgkY.jpg
se nezobrazuje zisk či ztráta efektu. Ale toto nefunguje ani v EN verzi, tak je chyba v UP, nebo to ani nejde technicky udělat stejně, jako v případě navrácení osobních věcí Lily #435

[2018-10-10 09:50] maarten93 commented on #443
To na hoře je ještě bez souborů co jsem dával, sem jsem zkoušel, jestli je to nepřeložené i u krvavé hvězdy, předtím jsem si toho nevšiml když jsem jí dostal.
S těmito  soubory to co jsou tady to už je přeloženo a krvavá hvězda i léčení krví funguje jak má.
https://snag.gy/jSgsVH.jpg
 Nerozhodí to znovu historie?

[2018-10-10 09:53] maarten93 commented on #461
Elizino srdce zatím nemám, u bodláku se mi také zisk a ztráta nevypisuje, ale funguje jak má opravdu dává +1 do obrany.

[2018-10-10 09:54] miracleflame commented on #443
Díky za váš neoceniteľný entuziazmus všetko to testovať odznovu, je mi cťou opäť pracovať s vami v tíme! Ospravedlňujem sa za slabší výpadok v posledných dňoch, choroba v celej rodine ma dosť brzdila a ešte stále trochu brzdí...

Áno aj históriové disciplíny s účinkami trvania a poškození, prosím, otestujte, malo by to byť OK... dúfam...

[2018-10-10 09:56] Honzixx commented on #461
Taky mi fungují OK, jen to nevypisuje ty efekty.

[2018-10-10 10:00] miracleflame commented on #446
Neuveriteľné, že toto nejako ušlo môjmu celoplošnému prekladu Male -> Muž
Dík.

[2018-10-10 10:00] maarten93 commented on #443
Teď na rychlo otestován Gangrel Hmyzavec, který úplně ze začátku nešel a vše funguje jak má, disciplíny trvají o 25% déle postih funguje taky.

[2018-10-10 10:07] maarten93 commented on #443
Nosferatu nuzák funguje dostávám víc krve z bezdomovců i prostitutek.

[2018-10-10 10:08] miracleflame commented on #447
Všetko je v poriadku. Repliky sú k dispozícii dohromady 4, ale táto jedna ti tam chýba, lebo máš Lidskost menej ako 5. Aj náväzná reakcia je ako má byť podľa EN verzie.

Pravdepodobne aj viac dialógových možností budeš mať inde inak kvôli tej Lidskosti, ale to je práveže dobre, lebo niektoré sa zobrazia iba v prípade, že máš menej ako 5 a to sa na test hodí.

[2018-10-10 10:08] #447 closed, assigned to miracleflame

[2018-10-10 10:13] miracleflame commented on #443
Okej teraz sem dám súbory, ktoré majú preloženú iba Duration, ale Damage nie (Damage sa používa pri efekte Nuzáka). Treba otestovať, či sa zas niekde nezobrazuje získaný efekt so slovom Damage.

[traiteffect.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2464186/traiteffect.txt)
[traiteffects000.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2464187/traiteffects000.txt)

[2018-10-10 10:18] miracleflame commented on #448
Práveže nevidím žiadnu štartovaciu pozíciu na tejto replike 191. Malo by to nasledovať po hráčovej replike. Ako to tam máš presne od začiatku?

[2018-10-10 10:24] miracleflame commented on #449
Tuná je skôr problém v tom, že máme v češtine súbor v angličtine! :D
Dobrý testing!

Má to byť Chunk... tento istý float pre Chunkovho brata tam máme preložený.

[2018-10-10 10:24] maarten93 commented on #448
Ne to jsem blbě napsal, myslel jsem tím že stejný rozhovor jsem sním vedl když jsem přišel poprvé, rozhovor je veden takto, přijdu k němu a on mi řekne něco v tom smyslu že je rád že jsem přišel znovu, pak se ho zeptám na sériového vraha, dále na jeho jméno a jestli neprodává drogy a pak že mu nějaké seženu naproti na poliklinice a pak myslím to skočí na to jestli jsem v santamonice nový(na to sam

[2018-10-10 10:27] #454 closed, assigned to miracleflame

[2018-10-10 10:30] Honzixx commented on #459
Tak tady pár hlášek má, ale narazil jsem na jednu nepřeloženou female..... https://snag.gy/nK5RlJ.jpg
Jinak tady screeny přeložených hlášek, co jsem z ní vytáhl:
https://snag.gy/1OzP3l.jpg
https://snag.gy/1F46wt.jpg
https://snag.gy/Jy3wtu.jpg

[2018-10-10 10:32] Honzixx commented on #459
Jo a testuju to před chvílí nově zkompilovanou češtinou  na novou, čistou instalaci hry ;-)

[2018-10-10 10:34] maarten93 commented on #443
Nuzák pořád funguje, ale třeba tady: https://snag.gy/UxYsl3.jpg se objevuje popisek Damage

[2018-10-10 10:54] miracleflame commented on #443
Tak.. som sa silno pohrúžil do toho a preložil som použitím špeciálnych znakov pre š úplne všetko v týchto súboroch, lebo som pri testovaní zistil, že aj Lidskost-Cost efekt sa tam zobrazuje...

Prosím pretestovať  týmito súbormi, hlavne či efekty reálne fungujú.

[traiteffect.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2464356/traiteffect.txt)
[traiteffects000.txt](https://github.

[2018-10-10 11:00] miracleflame commented on #448
Nj Wesp to tam s tým Tripom podľa možností domachlil a precyklil kvôli tomu obnovenému questu s drogami. Ale tak to má byť.

[2018-10-10 11:00] #448 closed, assigned to miracleflame

[2018-10-10 11:07] Honzixx commented on #460
Z Gimbliho jsem vytáhnul tři hlášky a vše přeložené.
https://snag.gy/vc38o4.jpg
https://snag.gy/kg35M8.jpg

[2018-10-10 11:18] miracleflame commented on #459
Díky, malo by to byť pokryté.

[2018-10-10 11:18] #459 closed, assigned to Honzixx, maarten93

[2018-10-10 11:18] #460 closed, assigned to Honzixx, maarten93

[2018-10-10 11:19] miracleflame commented on #450
Preložené. Prosím otestovať za obe pohlavia (pomocou konzoly)

[2018-10-10 11:24] miracleflame commented on #451
Ani som si toho doteraz nebol vedomý, že nejde o Skyline. Opravené všetky možné výskyty.

[2018-10-10 11:24] #451 closed, assigned to miracleflame

[2018-10-10 11:24] miracleflame commented on #452
Ani som si toho doteraz nebol vedomý, že nejde o Skyline. Opravené všetky možné výskyty - e1d7a4d390ff88e1e01ed6124765df9c9cd34c5c

[2018-10-10 11:24] #452 closed, assigned to miracleflame

[2018-10-10 11:27] miracleflame commented on #453
To bude moja česká gramatika, ktorá asi ušla aj Tomášovi pri revízii. Pardon.

[2018-10-10 11:27] #453 closed, assigned to miracleflame

[2018-10-10 12:18] miracleflame commented on #442
Bude Doktůrek )

[2018-10-10 12:19] miracleflame commented on #444
Ready to test.. odporúčam premazať si svoje UP.

[2018-10-10 12:19] miracleflame commented on #446
Pripravené na test.

[2018-10-10 12:20] miracleflame commented on #449
Pripravené na test.

[2018-10-10 12:20] miracleflame commented on #455
Pripravené na test.

[2018-10-10 12:21] miracleflame commented on #456
Pripravené na test.

[2018-10-10 12:21] miracleflame commented on #457
Pripravené na test. Pri tom druhom som iba zmenil slovosled, aby špeciálny znak ň nevyšiel zrovna na zalomenie.

[2018-10-10 12:21] miracleflame commented on #458
Pripravené na test.

[2018-10-10 12:36] Honzixx commented on #455
Je to přeložené OK  ;-) https://snag.gy/XZCSIV.jpg

[2018-10-10 12:37] #455 closed, assigned to Honzixx

[2018-10-10 12:40] miracleflame commented on #420
note:
premazanie 1250 a ff na za4iatku dump skriptov...

@soulcharmer nenaplánujeme si chat appointment niekedy k tejto téme, nech sa to lepšie vysvetľuje a chápe? Nemyslím, že by to malo zabrať viac než 15 minút.

[2018-10-10 12:41] Honzixx commented on #442
Odzkoušeno, je to doktůrek ;-) https://snag.gy/WoOGem.jpg

[2018-10-10 12:42] #442 closed, assigned to maarten93

[2018-10-10 12:49] Honzixx commented on #456
Už je to OK https://snag.gy/qSCQVY.jpg

[2018-10-10 12:51] #456 closed, assigned to miracleflame

[2018-10-10 13:38] miracleflame commented on #445
Toto je bug, ktorý Wesp fixne v rámci mapy, čiže mimo dlg preklad.
ref. https://forums.planetvampire.com/bloodlines-tech-support/unofficial-patch-10-1-released!/msg140809/#msg140809

[2018-10-10 13:38] #445 closed, assigned to miracleflame

[2018-10-10 13:39] miracleflame commented on #461
Podľa Wespovho vyjadrenia sa tento typ buffu nezobrazuje cez HUD float.
ref. https://forums.planetvampire.com/bloodlines-tech-support/unofficial-patch-10-1-released!/msg140809/#msg140809

[2018-10-10 13:39] #461 closed, assigned to miracleflame, maarten93

[2018-10-10 15:59] maarten93 commented on #443
Omlouvám se za odmlčení musel jsem jít něco zařídit, teď zas přeinstalovávám celou hru, nejnovější kompilace češtiny mi při instalaci píše invalid file handle 32, přeinstaluji celou hru a znovu zkusím nainstalovat češtinu snad to pomůže, pak otestuji zbývající věci.

[2018-10-10 16:13] maarten93 commented on #443
Přeinstalace nepomohla, instalátor pořád hlásí https://snag.gy/VfTPmw.jpg nevím jestli to něčemu vadí. hláška se zobrazí ještě několikrát, ale dá se odklikat a instalace se potom dokončí, jen nevím jestli to pak nebude dělat bordel ve hře.

[2018-10-10 16:27] maarten93 commented on #443
Gangrel paní šelem funguje, jak o 25% delší trvání zvířeckosti, tak 35% vyšší poškození a o 25% kratší morfizmus.

[2018-10-10 16:29] maarten93 opened #462 "Kapku mešuge"
https://snag.gy/QYSTmP.jpg
Demence:-)->Dementace

[2018-10-10 16:34] maarten93 commented on #443
Léčení krví s těma posledníma soubory je opět Duration
Nosferatu Nuzák funguje
Daimonori Damage  https://snag.gy/LEah8Z.jpg

[2018-10-10 16:45] miracleflame commented on #462
Tam by som asi ponechal demence v opisnom texte a Dementace upravil len vo výhodách, že?

[2018-10-10 17:25] maarten93 commented on #462
Ano, jen ve výhodách

[2018-10-10 17:37] maarten93 commented on #444
Už je to ok

[2018-10-10 17:39] maarten93 commented on #446
Už je to ok

[2018-10-10 17:42] maarten93 commented on #449
už je česky, ale píše se tam Chunk místo Chunkův bratr https://snag.gy/a0HujA.jpg

[2018-10-10 17:49] maarten93 commented on #450
Zde je nějaký problém, vůbec není v uličce kam jsem jí poslal jako předtím, ale stojí před klubem a vůbec nereaguje https://snag.gy/I8wpFv.jpg

[2018-10-10 18:44] maarten93 commented on #457
Už je to ok

[2018-10-10 18:46] maarten93 commented on #458
https://snag.gy/gks9OS.jpg
v pořádku.

[2018-10-10 19:34] maarten93 commented on #450
Problém bude nejspíš u mě, z nějakého důvodu mi zamrzly všechna NPC na ulici předtím se objevila hláška ai disabled a teď všechny savy co jsem zkoušel mají zamrzlá NPC, jediné co funguje je úplně nová hra.

[2018-10-10 20:29] maarten93 commented on #450
Tak se mi konečně podařilo rozhýbat npc, vyzkoušeno za obě pohlaví text je v češtině, ale je pokaždé stejný.

[2018-10-10 20:43] maarten93 opened #463 "Dračí dech"
http://vtmb.wikia.com/wiki/Dragon%27s_Breath
Podařilo se někomu od Mercuria získat tuto zbraň? Mluví o ní když po něm chci sehnat brokovnici, říká že sežene brokovnici a také tuto zbraň, ale brokovnice už mu přišla a toto zbraň chybí.

[2018-10-10 21:29] maarten93 opened #464 "Izák"
https://snag.gy/y9MmwI.jpg
Bez animace a zvuku.

[2018-10-11 06:08] Honzixx commented on #463
Tyjo tak to si nejsem jistej. Myslím si, že v minulosti jsem si ji od něj koupil, ale byla snad až ke konci hry. Buďto před, nebo až po Sabbat hotelu.

[2018-10-11 11:00] miracleflame commented on #443
Chybová hláška Invalid File handle pri inštalácii sa prihodila už aj mne a neraz. Je to nejaká náhodná chyba, ktorá sa neopakuje po opätovnej inštalácií z toho istého inštalátora. Ak by náhodou áno, možno reštart PC pomôže. Tipujem, že to skôr súvisí s momentálnym stavom vecí v systéme než so samotnou inštalačkou, lebo je fakt ťažké chybu zreprodukovať.

Ak si po preinštalovaní češtiny znovu nenah

[2018-10-11 11:01] #444 closed, assigned to maarten93

[2018-10-11 11:01] #446 closed, assigned to maarten93

[2018-10-11 11:02] miracleflame commented on #449
Takže vo všetkom inom ide o Chunkovho brata, len táto jedna hláška sa z neznámeho dôvodu berie z foldra pre Chunka? Chápem to správne? A aká akcia presne to vyvolá?

[2018-10-11 11:05] miracleflame commented on #450
Tie zamrznuté postavy sme tu už v minulosti mali, že? To je problém použitia sejvov s inými Unofficial_Patch\maps\graphs\*.* ktoré sa pri premazaní a preinštalovaní prerobili... Je dobré zálohovať si ich spolu so sejvami pri preinštalácii...

Text má byť rovnaký pre obe pohlavia, vďaka.

[2018-10-11 11:05] #450 closed, assigned to maarten93

[2018-10-11 11:05] #457 closed, assigned to maarten93

[2018-10-11 11:06] #458 closed, assigned to maarten93

[2018-10-11 11:09] #462 closed, assigned to miracleflame

[2018-10-11 11:14] miracleflame commented on #463
[> You can get it before the Hallowbrook Hotel mission. That way you get to use it for that and realize just how much it sucks and go back to using something better. Still p. cool, tho'.](https://gamefaqs.gamespot.com/boards/914819-vampire-the-masquerade-bloodlines/53629292)

give item_w_crossbow_flaming

[2018-10-11 11:14] #463 closed, assigned to miracleflame, Honzixx

[2018-10-11 11:25] miracleflame commented on #464
Malo by to byť opravené.
930fa8b04d2643db495b4760f9191d78e7909e22

[2018-10-11 11:51] maarten93 commented on #449
Jo všude jinde je Chunkův bratr, když chci přepnout monitor s kamerami.

[2018-10-11 12:17] maarten93 commented on #443
Jo zkusil jsem znovu stáhnout ty poslední soubory co jsi sem dal, teď už je to v češtině pak to podrobněji otestuji, asi jsem je zaměnil v pc sem jich měl několik,  zatím jsem na rychlo zkoušel pár předmětů z inventáře, a u Daimonori je špatný efekt https://snag.gy/iuCcZj.jpg

[2018-10-11 12:19] maarten93 opened #465 "Primogen Maximillian Strauss"
https://snag.gy/7ZlkPB.jpg
Zde jsem taky nezaznamenal zvuk a animaci.

[2018-10-11 12:23] miracleflame commented on #465
Malo by to byť opravené.

[2018-10-11 14:31] maarten93 commented on #443
Daimonori, navíc vůbec nefunguje, nedává bonus do poškození u divotvorství.

[2018-10-11 14:34] maarten93 commented on #443
Krvavá hvězda funguje a udává i správný efekt.

[2018-10-11 14:41] maarten93 commented on #443
Fetiš z mumie funguje a popisek efektu je správně

[2018-10-11 14:43] maarten93 commented on #443
Léčení krví nefunguje, neobjevil se efekt a neurychluje léčení.

[2018-10-11 14:44] maarten93 commented on #443
Hlas krve funguje a udává správný efekt

[2018-10-11 14:45] maarten93 commented on #443
Předzvěst funguje a udává správný efekt

[2018-10-11 14:46] maarten93 commented on #443
Talisman Fae funguje i s popiskem efektu

[2018-10-11 14:47] maarten93 commented on #443
Bodlák funguje

[2018-10-11 14:48] maarten93 commented on #443
Tarulfang funguje

[2018-10-11 15:05] maarten93 commented on #443
Saulocept funguje

[2018-10-11 15:08] maarten93 commented on #443
Elizino srdce funguje

[2018-10-11 15:12] maarten93 commented on #443
Alamutův klíč funguje, ale popis efektu je v agličtině https://snag.gy/5oJEzc.jpg

[2018-10-11 15:14] maarten93 commented on #443
Galdjum funguje

[2018-10-11 15:33] maarten93 commented on #443
Starožitný medailon funguje

[2018-10-11 15:35] maarten93 commented on #443
Spletený talisman funguje

[2018-10-11 15:41] maarten93 commented on #443
Zharalketh funguje

[2018-10-11 15:43] maarten93 commented on #443
Perla funguje

[2018-10-11 15:52] maarten93 commented on #443
Nosferatu nuzák nefunguje

[2018-10-11 16:02] maarten93 commented on #443
Gangrel hmyzavec funguje

[2018-10-11 16:05] maarten93 commented on #443
Tremere tajuplný génius funguje

[2018-10-11 16:27] maarten93 opened #466 "Knihovna e-mail"
https://snag.gy/pqHzCs.jpg  Becket je příliš dole

[2018-10-11 19:34] miracleflame commented on #443
Tak to zhrniem:
Daimonori, navíc vůbec nefunguje, nedává bonus do poškození u divotvorství.
Nosferatu nuzák nefunguje
Alamutův klíč funguje, ale popis efektu je v agličtině
Léčení krví nefunguje, neobjevil se efekt a neurychluje léčení.

Mohol by si tieto otestovať s týmto, prosím?
[traiteffects000.txt](https://github.com/soulcharmer/gog_bloodlines_cz/files/2470431/traiteffects000.txt)

[2018-10-11 19:52] maarten93 commented on #443
Daimonori už jde
Léčení krví pořád ne, neobjeví se popisek efektu.
Alamutův klíč je pořád efekt anglicky
Nosferatu nuzák už funguje.

[2018-10-11 19:54] maarten93 commented on #443
Když tak jestli myslíš že bude potřena otestovat více historií, tak se na to vrhnu.

[2018-10-12 09:52] miracleflame commented on #443
Keď som updatoval repo na UP10 ani vo sne by mi nenapadlo, že niekoľkonásobne viac času strávim opravovaním všeličoho, čo už bolo... Holt, ukázalo sa, že aj opravy a preklady už aplikované (#340) sa nedostali vždy do oboch verzií basic/plus. Prečesal som to a zotrel som všetky rozdiely - Soak Pool už by malo byť preložené.

A Léčení nešlo preto, lebo som sem dal basic súbory. S týmito už by to mal

[2018-10-12 10:08] miracleflame commented on #466
Pripravené na test.

[2018-10-12 12:49] miracleflame commented on #449
Netýka sa súborov češtiny, bude opravené v novej verzii UP.

[2018-10-12 12:49] #449 closed, assigned to miracleflame

[2018-10-12 14:01] Honzixx commented on #443
Tyhle 2  poslední soubory jsou už teda v kompilaci? Nahodil jsem si novej GitHub a vypadá dobře :-)

[2018-10-12 14:21] miracleflame commented on #443
Áno súčasné repo už obsahuje aj tieto dva posledné súbory, aj basic verziu aj plus verziu, lebo predpokladám, že už je to naozaj kompletne fixed. Ale nechávam priestor na dobrovoľný test.

Ten GitHub Desktop sa dá prepnúť do Dark theme, veľmi odporúčam... Ľavou zadnou sa tam robí všetko čo treba, Undo changes, Undo commit, Revert Commit, Pull/Push, všetko ide bleskovou rýchlosťou konečne a akákoľv

[2018-10-12 17:27] maarten93 commented on #443
Léčení krví už funguje a Klíč už je česky.

[2018-10-12 17:38] maarten93 commented on #443
zdá se že teď už je vše v pohodě(netestoval jsem vše jen věcí). O Github Deskop jsem vůbec netušil že existuje. Vypadá super hlavně historie je tam hodně přehledná.

[2018-10-12 17:45] maarten93 commented on #464
Už jde

[2018-10-12 17:53] maarten93 commented on #465
Už ok

[2018-10-12 17:54] maarten93 commented on #466
Už ok

[2018-10-12 17:58] maarten93 opened #467 "Zygaena"
https://snag.gy/1MBvOV.jpg
Bez zvuku a animace

[2018-10-12 18:20] miracleflame commented on #443
A týmto by som uzavrel tento rekordne dlhý tiket. :)
Díky moc za váš čas a ochotu s týmito problémami, pomohlo to vychytať aj rôzne iné nesúvisiace chybky.

[2018-10-12 18:20] #443 closed, assigned to Honzixx, maarten93

[2018-10-12 18:20] #464 closed, assigned to maarten93

[2018-10-12 18:21] #465 closed, assigned to maarten93

[2018-10-12 18:21] #466 closed, assigned to maarten93

[2018-10-12 18:29] maarten93 opened #468 "Plakátová sezóna"
https://snag.gy/lniFEB.jpg -Datové cédéčko
https://snag.gy/L4h98T.jpg -Dřevěná panenka
https://snag.gy/wxOPST.jpg - Tahací hračka(to je ve skutečnosti v Metalhead a je to potřeba k dokončení úkolu)

[2018-10-12 19:23] maarten93 opened #469 "Wong Ho"
https://snag.gy/kdexwT.jpg
mojemu->mému

[2018-10-12 19:28] maarten93 opened #470 "Zabijácké šachy"
Úkol se dá plnit neustále znovu rozhovorem s Ji Wen Ja, pak už za něj nesou zkušenosti, ale přidává lidskost.
https://snag.gy/TiCl5v.jpg odpovědí č.2 která je po splnění úkolu pořád přístupná si můžu znovu aktivovat úkol.

[2018-10-12 19:40] maarten93 opened #471 "Zygaena"
https://snag.gy/qyM7ib.jpg
Po použití schopnosti krádež krve, Zygaena zamrzne a přestane se hýbat i útočit.

Nahlásíš to Wespovi?

[2018-10-12 20:40] maarten93 opened #472 "Mandarin"
https://snag.gy/miRk8U.jpg
Nepřeloženo.

[2018-10-12 20:57] maarten93 opened #473 "Barabus"
https://snag.gy/xe4rXV.jpg

[2018-10-12 21:08] miracleflame commented on #473
Inak toto som vám chcel povedať už dávno... Tie obrázky nemusíte uploadovať na SnagIt. Malo by stačiť drag&dropnúť priamo do miesta, kde píšete tiket. ;)

[2018-10-12 21:08] maarten93 commented on #468
https://snag.gy/Jv2NnX.jpg - tento e-mail přijde jako poslední, a mluví se v něm o plakátu Imalie, ale ten už dávno mám, za splnění dostanu úplně jiný plakát.

[2018-10-12 21:09] maarten93 commented on #473
![vampire 2018-10-12 22-56-44-33](https://user-images.githubusercontent.com/25608384/46894189-e8f91900-ce73-11e8-85fe-73f9234095c2.jpg)

[2018-10-12 21:10] maarten93 commented on #473
Ok jde to, ale musel jsem převést formát na .jpg

[2018-10-12 21:12] maarten93 commented on #468
Konkrétně tento plakát.

![vampire 2018-10-12 23-11-28-25](https://user-images.githubusercontent.com/25608384/46894286-41301b00-ce74-11e8-92b1-59cc1ec6ffe7.jpg)

[2018-10-12 21:19] miracleflame commented on #473
Jak je komu čo pohodlnejšie... malo by to brať aj png.

[2018-10-13 11:20] miracleflame commented on #467
Pripravené na test...

[2018-10-13 12:35] miracleflame commented on #468
Pripravené na test, resp. skontroluj po mne prosím v commite českú gramatiku.

[2018-10-13 12:44] miracleflame commented on #470
Jedná sa o repliku Vy jste Ji Wen Ja?

[2018-10-13 12:44] miracleflame commented on #471
Dá sa to reprodukovať zakaždým?

[2018-10-13 12:47] miracleflame commented on #469
Opravené všetky výskyty mojemu tvojemu v češtine... na tom neni moc čo testovať. Zatváram, dík.

[2018-10-13 12:47] #469 closed, assigned to miracleflame

[2018-10-13 13:14] miracleflame commented on #472
Pripravené na test...

Ešte by bolo dobré dôkladne túto scénu pretestovať na všetky možné floatich hlášky... Myslím, že táto by s tam mohla vyskytnúť ešte
line191_col_e.lip "Dispose of Johnny and we'll discuss the matter of your missing comrade."
To tipujem, že sa objaví, keď na Johnnyho nebudeš vôbec útočiť

[2018-10-13 13:24] miracleflame commented on #473
Tak toto bola hodne blbá chyba (moja). Pripravené na test.

[2018-10-13 13:32] maarten93 commented on #470
Jo, Jste Ji Wen Ja?

[2018-10-13 13:36] maarten93 commented on #471
Zkoušel jsem to 2x.

[2018-10-14 10:03] miracleflame commented on #470
Malo by to byť fixed.

[2018-10-14 14:54] maarten93 commented on #467
Už ok.

[2018-10-14 14:55] maarten93 commented on #468
Z kouknu, ale v jednom z dřívějších savů, kde mám teprve zadaný úkol na první plakát, mi už přišel e-mail na poslední plakát.

[2018-10-14 14:57] maarten93 commented on #468
Mělo by být v Metalhead Industries.->Měla by být v Metalhead Industries.

[2018-10-14 15:02] #467 closed, assigned to maarten93

[2018-10-14 15:05] maarten93 commented on #468
...a to není všechno, co máme, člověče! Máme žhavější a mnohem drsnější matroš, víš jako? A stejně jako ostatním kvalitním investorům v LA nám chodí na sklad pořád nový věci, tak to omrkni!!!

drsnejší->drsnější
chodi->chodí

[2018-10-14 15:07] maarten93 commented on #468
Kontroloval jsem jen ty s diakritikou, ostatní jsou stejný jen bez diakritiky?

[2018-10-14 15:08] miracleflame commented on #468
Dík, opravené. Kedy aký e-mail príde sa vôbec nemenilo, iba znenie textov som upravoval.

[2018-10-14 15:15] miracleflame commented on #468
Opravil som aj to ďalšie, plus chýbali mi tam dôležité úvodzovky, bez ktorých by ten mail neprišiel. Diakritika tu nie je kritická, lebo všetko je dumpnuté cez orezávač diakritiky, takže je to identické. Ešte nechám otvorené na potvrdenie úspešného pretestovania.

[2018-10-14 15:16] maarten93 opened #474 "Občas se zobrazují texty rozhovorů a občas ne."
![vampire 2018-10-14 17-10-19-64](https://user-images.githubusercontent.com/25608384/46918627-650a7280-cfd4-11e8-8de4-2722bed28a73.jpg)
![vampire 2018-10-14 17-10-27-18](https://user-images.githubusercontent.com/25608384/46918628-650a7280-cfd4-11e8-9edc-400698aa74c1.jpg)

Předtím mi to nedělalo, ale u postav zde je jako příklad Yukie se občas nezobrazuje text toho co říká, stalo se mi to teď třeba

[2018-10-14 15:20] miracleflame commented on #474
Nevidím absolútne žiadny dôvod, prečo by sa niečo také malo diať kvôli prekladu, všetko je tam proste OK, neviem čo by som tam mal opraviť. Náhodou sa ti nechtiac nepodarilo stačiť medzerník počas toho? Vtedy myslím miznú titulky k dialógom a ostávajú iba možnosti odpovede.

[2018-10-14 15:24] maarten93 commented on #468
![image](https://user-images.githubusercontent.com/25608384/46918696-5c666c00-cfd5-11e8-9eba-2d8650b3e12e.png)

Zde mám teprve zadaný první plakát 'Hledas rande', ale už mi přišel e-mail na poslední plakát 'Neprave koliky' po jeho přečtení se mi zadá do Žurnálu úkol na poslední plakát, je to starý save, tak jestli to není tím?

[2018-10-14 15:28] maarten93 commented on #474
Zkoušeno znova a dával jsem si pozor na mezerník a nemačkal ho(nemačkal jsem nic kromě čísel replik) a pořád to dělá, někdy se zobrazí text a někdy ne, ještě můžu zkusit úplný reistal hry jestli není problém u mě, ale jediné co jsem dělal je že jsem zkompiloval nejnovější češtinu a nainstaloval ji.

[2018-10-14 15:30] miracleflame commented on #468
Z technického hľadiska sa tam nemenilo nič okrem toho, že chýbali úvodzovky, tieo mohli rozbiť ceké fungovanie mailov. Toto je už test po najnovšej oprave?

[2018-10-14 15:33] maarten93 commented on #468
Češtinu po ďalší dôležitý fix havenpc #468 jsem ještě nezkoušel teprve ho stahuji.

[2018-10-14 15:35] miracleflame commented on #474
EN to nerobí?

[2018-10-14 15:42] maarten93 commented on #474
Dal jsem v gogu Verify/Repair celá hra je nyní v Aj a už to funguje jak má, ještě až se mi stáhne Čeština tak jí  nainstaluji a zkusím znovu co to udělá.
![vampire 2018-10-14 17-37-25-90](https://user-images.githubusercontent.com/25608384/46918908-6c337f80-cfd8-11e8-8447-cb68f1374d5a.jpg)
![vampire 2018-10-14 17-37-09-38](https://user-images.githubusercontent.com/25608384/46918909-6c337f80-cfd8-11

[2018-10-14 15:44] maarten93 commented on #474
Teď při instalaci češtiny opět vyskočila hláška invalid file handle 32, což už se mi chvíli nestalo.

[2018-10-14 15:49] maarten93 commented on #474
Ok, tak nevím co se stalo když jsem instaloval předchozí češtinu tak jsem dal taky Verify/Repair ostatně to dávám vždy když instaluji nově češtinu, nainstaloval jsem jí bez problémů a měl jsem tento problém, teď jsem udělal to samé a jediný rozdíl je že při instalaci vyskočila hláška invalid file handle 32 a už to jde.

[2018-10-14 15:53] maarten93 commented on #468
Už je to ok.

[2018-10-14 15:57] miracleflame commented on #474
"invalid file handle 32" by som úplne ignoroval, najskôr sa to týka inštalácie fontov do systému, ktoré sa už nemenia, takže o nič neprichádzaš. Ale ako som spomínal, preinštalácia presne tej istej češtiny by už mala zbehnúť bez erroru.

[2018-10-14 15:57] #474 closed, assigned to miracleflame

[2018-10-14 16:03] maarten93 commented on #470
Už je to ok.

[2018-10-14 16:04] #470 closed, assigned to maarten93

[2018-10-14 16:14] maarten93 commented on #472
Ta první část už je česky, ale line191_col_e.lip "Dispose of Johnny and we'll discuss the matter of your missing comrade." se objevuje anglicky
![vampire 2018-10-14 18-12-33-33](https://user-images.githubusercontent.com/25608384/46919240-db12d780-cfdc-11e8-9b25-fe02e4ce4ae7.jpg)

[2018-10-14 16:20] miracleflame commented on #472
Tak to potrebujeme preložiť, lebo nemáme... @soulcharmer

"Dispose of Johnny and we'll discuss the matter of your missing comrade."

[2018-10-14 16:21] maarten93 commented on #473
už ok

[2018-10-14 16:35] #473 closed, assigned to maarten93

[2018-10-14 16:50] miracleflame commented on #472
Zbav se Johnnyho a budeme mluvit o tvém nezvěstném kamarádovi.

[2018-10-14 17:01] maarten93 commented on #472
Číňanec? nemyslel jsi Číňan? @miracleflame

[2018-10-14 17:03] miracleflame commented on #472
Je to nespisovné?

[2018-10-14 17:14] maarten93 commented on #472
Číňanec, je takové divné, moc se nepoužívá(vůbec jsem se s tím nesetkal),  Obyvatelům Číny se normálně říká Číňan, ale zase třeba Obyvatelům Japonska se říká Japonec, nebo Vietnam Vietnamec. Je to trochu matoucí.

https://cs.wiktionary.org/wiki/%C4%8C%C3%AD%C5%88an

[2018-10-14 17:17] miracleflame commented on #472
https://cinsky.webgarden.cz/rubriky/nasi-cinanci

Ale dám jak rozhodne @soulcharmer

[2018-10-14 17:21] maarten93 commented on #472
číňánci je zdrobnělina.

[2018-10-14 17:34] maarten93 commented on #472
Ještě mě napadlo že by tam mohlo být i Asijec, Mandarin má asijské rysy a nikde není řečeno že je to zrovna Číňan.

[2018-10-14 17:44] maarten93 opened #475 "VV"
![image](https://user-images.githubusercontent.com/25608384/46920110-7d38bc80-cfe9-11e8-93b5-2e1a2bfdb24c.png)

VV je moc dole.

[2018-10-14 17:47] maarten93 opened #476 "Nadia Milliner"
![vampire 2018-10-14 18-56-31-14](https://user-images.githubusercontent.com/25608384/46920129-dc96cc80-cfe9-11e8-9471-74c2e5ff2aa4.jpg)

Ale to tady děsný...->Ale je to tady děsný...

[2018-10-14 17:50] miracleflame commented on #475
Nie som si istý, či to takto bude stačiť. Ak nie, budeme to musieť vymyslieť ináč so zalamovaním.

[2018-10-14 17:57] miracleflame commented on #476
Fixed.
Inak verím, že vám to napdalo, ale keby nie... na otestovanie fixu je pre vás najjednoduchšie vždy v GitHub softwari
na karte History
pre daný commit kliknúť pravým na FF súbor, v tomto prípade cestina_fontfriendly\dlg\giovanni\nadia.dlg a vybrať Show in Explorer
potom už len copy & paste do vašej hry
....namiesto preinštalovávania celej češtiny.

[2018-10-14 18:17] maarten93 opened #477 "Lovci"
![vampire 2018-10-14 20-08-07-84](https://user-images.githubusercontent.com/25608384/46920409-27b2de80-cfee-11e8-8c6b-a4a828338f6b.jpg)
Z nějakého důvodu lovci křičí Policie!

[2018-10-14 19:54] maarten93 opened #478 "VV č.2"
![image](https://user-images.githubusercontent.com/25608384/46921446-a4988500-cffb-11e8-9f92-14bb752e0a43.png)
Moc dlouhý e-mail

[2018-10-14 20:50] maarten93 opened #479 "[post 10.0] Andrei za sabbat"
Konec za Sabbat, tohle je hodně divné a asi to úplně nesouvisí s češtinou, hraji konec za sabbat když mě princ pošle do hotelu zabít sabbaty a Andreie, tak díky několika splněným podmínkám se k nim můžu přidat, existují dvě varianty které jsou k dispozici:

1)Andrei na mě čeká hned na začátku dole ve vstupní hale, nemusím s nikým bojovat, jen sejdu dolů a promluvím sním že se k němu chci přidat, v

[2018-10-14 21:02] maarten93 commented on #479
Zkoušeno v Aj až na ty fráze v první variantě, kde není v češtině zvuk je vše stejné.
Ještě jsem zkoušel co se stane když mu řeknu že splním princův rozkaz a zabiji ho, tak se teleportuje pryč a vyvolá nestvůru která vůbec na nic nereaguje a ani neútočí.

[2018-10-14 22:11] soulcharmer commented on #472
Caute.

Mandarin = Číňan   (odvozeno od mandarinske cinstiny - jinak je to oznaceni vysokeho urednika v cinskem cisarstvi, ale uz si nepamatuju, kdo je ten Mandarin zac, takze Cinan asi postaci)

kouknul jsem do existujiciho zdrojaku a tady jsou opravy:

"Dispose of Johnny and we'll discuss the matter of your missing comrade." =
"Odstraň Johnnyho a pak se pobavíme o tvém zmizelém kamarádovi."

"Th

[2018-10-15 07:34] miracleflame commented on #471
Treba otestovať, či fix pomohol, dík.

[2018-10-15 07:47] miracleflame commented on #472
Všetko aplikované na otestovanie.

[2018-10-15 07:56] miracleflame commented on #475
Tak som to nakoniec vymyslel ináč, malo by to byť aj krajšie, len to treba otestovať.

[2018-10-15 07:56] miracleflame commented on #478
Opravené.. treba otestovať.

[2018-10-15 08:25] miracleflame commented on #477
Fixed vrátané iných obdobných nezrovnalostí.

[2018-10-15 08:25] #477 closed, assigned to miracleflame

[2018-10-15 11:20] miracleflame commented on #479
skús pozrieť do týchto súborov a vymazať všetky o ktorých vieš, že sa vyskytujú v týchto záverečných dialógoch
sound\character\dlg\hollywood\andrei\line185-251_col_e.lip

...uvidíme, či to potom prestane robiť problémy so zvukom a animáciami (treba si ešte predtým pridať aj súbory posledného commitu).

EN bugy som odreportoval Wespovi.

[2018-10-16 15:29] maarten93 commented on #471
Částečně pomohlo, po použití schopnosti krádež krve se sice vzpamatuje a rozhýbe, ale docela dlouho to trvá.

[2018-10-16 15:46] maarten93 commented on #471
Už funguje jak má, promiň předtím jsem tam měl hozenou starou verzi.

[2018-10-16 16:02] #471 closed, assigned to maarten93

[2018-10-16 16:19] maarten93 commented on #472
Nyní je už vše česky, nevím jestli jsem něco blbě nenakopíroval, ale teď jsem to zkoušel kopírovat znovu a pořád se mi tam objevuje namíchaně jméno Mandarin a Číňan.

![vampire 2018-10-16 18-14-51-94](https://user-images.githubusercontent.com/25608384/47031378-fb26d000-d16f-11e8-85b1-5e75d77113a7.jpg)

[2018-10-16 16:24] maarten93 commented on #475
Tady je vše ok

[2018-10-16 16:25] maarten93 commented on #478
Zde chybí Podpis VV.

[2018-10-16 16:26] maarten93 commented on #478
![image](https://user-images.githubusercontent.com/25608384/47031769-ea2a8e80-d170-11e8-9799-d2e7d7d16810.png)

[2018-10-16 16:28] miracleflame commented on #472
prehľadal som cestina_fontfriendly\sound\ a žiadny výskyt "Mandarin"
za to 50 výskytov "ç`×an" čo sú font-friendly znaky pre zobrazenie "Číňan". Technicky nemám ako vysvetliť, že sa ti tam zobrazuje Mandarin, ak máš správne nainštalovanú češtinu.

[2018-10-16 16:28] maarten93 commented on #476
Už ok.

[2018-10-16 16:33] maarten93 commented on #472
Neinstaloval jsem jen jsem překopíroval z: GitHub\gog_bloodlines_cz\cestina_fontfriendly\sound\character\dlg\chinatown\johnny
GitHub\gog_bloodlines_cz\cestina_fontfriendly\sound\character\dlg\chinatown\mandarin

[2018-10-16 16:35] miracleflame commented on #472
Prosím pozri, či máš v tých súboroch na spodu speaker_name ç`×an
ale aj tak je to mindfuck, lebo text je preložený a upravený po novom, tak aj meno by malo byť... jedine, že by hra nezvládla tie znaky tam z nejakého nepochopiteľného dôvodu a z ešte nepochopiteľnejšieho si vycucala bohvieodkiaľ Mandarin.

[2018-10-16 16:40] maarten93 commented on #472
Teď jsem náhodně otevřel v sound\character\dlg\chinatown\johnny line151_col_e.lip
a na konci je:
OPTIONS
{
voice_duck 1
<<<<<<< HEAD
speaker_name ç`×an
=======
speaker_name Mandarin

}

[2018-10-16 16:41] maarten93 commented on #472
A vůbec netuším proč se to napsalo tučně a velkým písmem a ještě tam ani není vše co jsem psal.

[2018-10-16 16:41] maarten93 commented on #472
OPTIONS
{
voice_duck 1
<<<<<<< HEAD
speaker_name ç`×an
=======
speaker_name Mandarin

}

[2018-10-16 16:42] maarten93 commented on #472
speaker_name ç`×an
=======
speaker_name Mandarin

parent of 23afa025... Mandarin #472 + odteraz bude Mandarin ÄŚĂ­Ĺanec

[2018-10-16 16:42] maarten93 commented on #472
`<<<<<<< HEAD
speaker_name ç`×an
=======
speaker_name Mandarin

}`

[2018-10-16 16:43] maarten93 commented on #472
Nejde mi to sem zkopírovat jednoduše řečeno na konci je Číňan i Mandarin

[2018-10-16 16:44] maarten93 commented on #472
speaker_name ç`×an

[2018-10-16 16:44] maarten93 commented on #472
speaker_name Mandarin

[2018-10-16 16:44] maarten93 commented on #472
parent of 23afa025... Mandarin #472 + odteraz bude Mandarin ÄŚĂ­Ĺanec

[2018-10-16 16:44] maarten93 commented on #472
Tohle je na konci.

[2018-10-16 16:48] maarten93 commented on #479
Ve vstupní hale už jde zvuk, ale žádná animace, pokud ho ve vstupní hale ignoruji a prosekám se přes sabbat na konci říká to samé co ve vstupní hale, ale už je vše beze zvuku, přitom normálně co si pamatuji tak by měl říkat něco úplně jiného.

Poslal Wesp už nějakou odpověď?

[2018-10-16 16:54] miracleflame commented on #472
Asi to nejako kopíruješ zo stranky Gitu, alebo z commitov, alebo ja neviem... tie HEADy tam byť nemajú... divím sa, že to vôbec niečo zobrazuje.

Normálne použi tvoje lokálne súbory, keď pullneš repo k sebe na disk.

[2018-10-16 16:56] #475 closed, assigned to maarten93

[2018-10-16 16:56] #476 closed, assigned to Honzixx, maarten93

[2018-10-16 16:59] miracleflame commented on #478
Asi by vypadalo blbo, keby tam ten podpis bol ešte narvaný niekde... Necháme jak je...

Jedine, že by sa ten text okolo básne kapku zjednodušil a skrátil o jeden riadok.. @soulcharmer ?

[2018-10-16 17:00] maarten93 commented on #472
To je z lokálních souborů, tohle jsem přímo kopíroval ze souborů hry co mám na disku, jinak mám přes GitHub Deskop staženou v počítači nejnovější verzi češtiny a jen to odtud překopírovávám do souborů hry.

[2018-10-16 17:04] maarten93 commented on #472
Už jsem přišel proč to bylo tučně dělalo to to rozdělení mezi speaker_name ç`×an a speaker_name Mandarin

![image](https://user-images.githubusercontent.com/25608384/47033891-37f5c580-d176-11e8-9540-604a8309a816.png)

[2018-10-16 17:12] miracleflame commented on #472
Hmm.. netuším, čo sa ti tam pochcalo, ale priamo na Gite je ten súbor takto
https://github.com/soulcharmer/gog_bloodlines_cz/blob/UP10.0/cestina_fontfriendly/sound/character/dlg/chinatown/johnny/line151_col_e.lip

..a aj ostatné..

Ak máš v GitHub Desktop na karte Changes niečo iné než 0 changes, tak klikni pravým a daj Discard changes... takisto ak tam máš dole nejaký commit, daj Undo.

[2018-10-16 17:22] maarten93 commented on #472
Měl jsem tam asi 147 changes a dole byl commit. Potom co jsem to smazal tak u všech souborů zmizel dole Mandarin a zbyl jen Číňan.

[2018-10-16 17:25] maarten93 commented on #472
Už je ok.

[2018-10-16 18:02] maarten93 opened #480 "Hlasatel"
![vampire 2018-10-16 19-57-59-26](https://user-images.githubusercontent.com/25608384/47036990-0b45ac00-d17e-11e8-9844-e9ac32dddbfd.jpg)

Zalomení+umožňovat->umožňoval+zmírnit->zmírnil

[2018-10-16 18:08] #472 closed, assigned to maarten93

[2018-10-16 18:09] maarten93 opened #481 "Rádio"
Nejsou titulky, jestli jsem dobře pochopil, tak v jedné části mluví nějaká holka o Ashi Riversovi + nějaké další reportáže.

[2018-10-16 18:11] maarten93 commented on #481
Dále nějaký chlápek co nemůže spát protože se bojí upírů.

[2018-10-16 18:12] maarten93 commented on #481
Pak na další lince volá Frankenstein.

[2018-10-16 18:17] miracleflame commented on #480
Tu navrhujem vypustiť problematické ň kvôli zamalovaniu nasledovne

...který by umožnil vyšší limity pro škodliviny, a zmírnil rizika spojena s produkcí energie.

OK, @soulcharmer ?

[2018-10-16 18:43] maarten93 opened #482 "Chunkův bratr"
![vampire 2018-10-16 20-38-30-42](https://user-images.githubusercontent.com/25608384/47039177-98d7ca80-d183-11e8-980d-7cd6798a7363.jpg)

Na nic nereaguje ať ukončím rozhovor jakkoliv, pokud použiji schopnost dominance a řekl mu aby utíkal nic nedělá, pokud se sním nedomluvím tak by mě měl napadnout, což taky neudělá, pokud ho překecám aby mě pustil nahoru taky nic neudělá a navíc k tomu všemu sním

[2018-10-16 18:52] miracleflame commented on #481
Toto som nedávno sám testoval a všetky rádiá boli funkčné...
malo by stačiť skákať medzi Q.Story_State 10 20 30 (niekedy tuším aj dvakrát toľko) a znovu nahrť mapu havenu map sm_pawnshop_1 alebo tak nejak

a je potrebné mať zapnutý Plus patch, lebo to je exkluzívne pre Plus.

Overíš to ešte prosím? ja tú hru v práci nemám.

[2018-10-16 19:02] maarten93 commented on #481
Otestuji, plus patch mám, až na tohle jsem měl všechna rádia s titulky, je to mapa úkrytu nad zastavárnou, v jedné z posledních fází hry, hned po Griffith Park, kam mě odveze Jack těsně před východem slunce, potom se už tam nedá vrátit.

[2018-10-16 19:08] miracleflame commented on #482
To vyzerá, že akcie G.Chunk_Run = 1 ani  G.Chunk_Attack = 1 nič nerobia... Ak to tak je aj v EN, tak to bude chyba UP.

[2018-10-16 19:11] miracleflame commented on #481
Všetky rádia hrajú to isté podľa aktuálneho G.Story_State
vedel by si v konzole zistiť akú máš hodnotu G.Story_State? možno stačí napísať iba
G.Story_State
alebo
get G.Story_State

[2018-10-16 20:20] maarten93 commented on #481
G.Story_State je 90, teď když jsem znovu nahrál save tak tam titulky jsou, ale jsou to úplně jiné rozhovory než předtím.

[2018-10-16 20:30] maarten93 commented on #481
Tak jsem zkusil párkrát nahrát ten save a nakonec se mi podařilo narazit na ty rozhovory které byli předtím bez titulků, tentokrát už byli s titulky, nevím proč se předtím nezobrazovali.

[2018-10-16 20:33] maarten93 commented on #482
V Aj se chová stejně

[2018-10-16 20:35] miracleflame commented on #481
Neni možné, že celé vysielanie už išlo dokola? Titulky sa zobrazujú iba počas prvého kola.

[2018-10-16 20:38] maarten93 opened #483 "Ovládnutý strážník"
![vampire 2018-10-16 22-36-40-74](https://user-images.githubusercontent.com/25608384/47045883-34713700-d194-11e8-9dfa-38c1d46db5c1.jpg)
Nepřeloženo

[2018-10-16 20:41] maarten93 commented on #481
To si nemyslím, "probudil jsem se v úkrytu" zapnul jsem Tv, chýlili jsem jí poslouchal, pak jsem jí vypnul a zapnul jsem rádio a žádné titulky.

[2018-10-16 21:01] maarten93 opened #484 "Andrei konec za sabbat"
![vampire 2018-10-16 22-56-43-81](https://user-images.githubusercontent.com/25608384/47047230-4b655880-d197-11e8-8790-89b7b6be87d2.jpg)
![vampire 2018-10-16 22-56-58-88](https://user-images.githubusercontent.com/25608384/47047238-50c2a300-d197-11e8-868e-f2c0d10b605e.jpg)
nepřeloženo.

[2018-10-16 21:01] maarten93 commented on #441
Jinak jsem to dohrál.

[2018-10-16 21:07] #481 closed, assigned to miracleflame

[2018-10-16 21:51] miracleflame commented on #441
@Honzixx ako si na tom?

[2018-10-16 22:02] soulcharmer commented on #478
Navrhuju dat proste jeji podpis na posledni radek, neco jako:

"... brali jako basnirku vazne?   -VV"

[2018-10-16 22:04] soulcharmer commented on #480
jj, diky

[2018-10-17 07:23] Honzixx commented on #441
Už mi nezbývá moc do konce, dnes nejpozději zítra to doklepu ;-)

[2018-10-17 08:48] Honzixx opened #485 "Mandarin - řvál --> řval"
Jen opravit á za a ;-) https://snag.gy/kq204I.jpg

[2018-10-17 08:50] Honzixx opened #486 "Policajt v budově Fu - Floaty"
Některé floaty jsou jako Muž místo Policajta.
https://snag.gy/7Nk8Pa.jpg

[2018-10-17 08:52] Honzixx opened #487 "Yukie / žena - floaty"
Někter floaty Yukie jsou jako Žena.
https://snag.gy/SNGI4K.jpg
https://snag.gy/FT4j15.jpg

[2018-10-17 08:55] Honzixx commented on #485
Rovnou se tu zeptám. Nebylo by od věci sjednotit všechny zmínky o Mandarinovi (v logu questů apod.), když se jeho floatingy změnily na číňana?

[2018-10-17 09:32] Honzixx opened #488 "PC Kotel hříchu"
Tady si nejsem úplně jist, jestli je nabídka "soukromý" myšlena jako přídavné jméno, pak by podle mě bylo lepší dát spíše "soukromé".
Pokud je to myšleno jako podstatné jméno, má to být "soukromí".
https://snag.gy/GHTrSa.jpg

[2018-10-17 10:27] Honzixx commented on #468
Dnes jsem se v plakátové sezóně dostal až sem a pořád je tu ten mail o datovém CD, když je třeba dřevěná hračka. https://snag.gy/NhBsPU.jpg
Češtinu mám kompilovanou dnes a v žurnálu je řeč správně o dřevěné hračce.

[2018-10-17 13:26] Honzixx opened #489 "Koncové titulky"
V koncových titulkách u testerů je aktualizovanej češtiny, spravně to má být aktualizované češtiny ;-)
![image](https://user-images.githubusercontent.com/25451297/47089322-e0606400-d220-11e8-824b-f8856eaf82ff.png)

[2018-10-17 13:28] Honzixx commented on #441
Tak mám dohráno. Otestuju pak jen fixy, až budou.

[2018-10-17 18:17] miracleflame commented on #485
Good point. Netušil som, že mandarin sa spomína aj inde, poriešim to.
A toto by som updaril skôr na "aspoň řvi" nech to má unisex formy.

[2018-10-17 18:21] miracleflame commented on #486
Bohužial s týmto nič nenarobíme, lebo rovnaké floaty mechanika hry používa celoplošne aj pre iných mužov, ktorým by sa tam zas zobrazoval Policajt. Je to tak aj v AJ, myslím.

[2018-10-17 18:21] #486 closed, assigned to miracleflame

[2018-10-17 18:22] miracleflame commented on #487
To isté ako #486

[2018-10-17 18:22] #487 closed, assigned to miracleflame

[2018-10-17 18:37] miracleflame commented on #488
Originál je "PRIVATE" a malo by to byť soukromé, opravím.

[2018-10-18 06:05] miracleflame commented on #468
Toto je veľmi dobrý úlovok, lebo som vďaka nemu zistil, že tie dve variácie mailov "Raketomet na prodej" vo Wespových súboroch vôbec nie sú variácie, ale úplne identické maily o drevenej hračke. Myslel som, že variácia pre Basic ponecháva quest v pôvodnej podobe o CD. Teraz sa ukázalo, že to je úplne inak... no musím to s ním prebrať.

[2018-10-18 06:10] miracleflame commented on #478
Dobrý nápad. Uděláno.

[2018-10-18 06:10] #478 closed, assigned to soulcharmer

[2018-10-18 06:18] miracleflame commented on #480
Opravené. Test by nemal byť potrebný.

[2018-10-18 06:18] #480 closed, assigned to soulcharmer

[2018-10-18 06:28] miracleflame commented on #483
Dobrý úlovok. To stojí za test.

[2018-10-18 06:50] miracleflame commented on #484
To sú tie isté hlášky ako v rádiu, takže som použil ten istý preklad. Ibaže tu to nie je adresované Deb, takže som to dal do množného čísla. Bude to vyzerať dobre?

Inak dúfam, že dabing neznie ako cez telefón.

[2018-10-18 07:06] miracleflame commented on #485
Pozri commit, ako v ňom vyzerá diff. To sú všetky zvyšné výskyty Mandarina, malo by sa to zobrazovať opravené, neviem, či sa ti to chce testovať v hre...

[2018-10-18 07:13] #488 closed, assigned to miracleflame, maarten93

[2018-10-18 07:19] miracleflame commented on #489
Sa ospravedlňujem.

To stojí za test! )

[2018-10-18 07:20] Honzixx commented on #485
Testnu to, mam na to nachystany save.

[2018-10-18 11:54] Honzixx commented on #485
Je to OK, všude je číňan a "aspoň řvi" je tam taky ;-)

[2018-10-18 11:55] #485 closed, assigned to Honzixx

[2018-10-18 11:55] Honzixx commented on #489
Už je to OK :-D

[2018-10-18 11:55] #489 closed, assigned to Honzixx

[2018-10-18 20:04] miracleflame commented on #482
Prosím otestovať tento fix
[ventrue.zip](https://github.com/miracleflame/VTMB-Unofficial-Patch-by-Wesp/files/2491890/ventrue.zip)

Commit:
https://github.com/miracleflame/VTMB-Unofficial-Patch-by-Wesp/commit/8654ff7ebdb4d6cd8d105f145185102e989cf683

[2018-10-19 11:13] miracleflame commented on #479
Mohol by si mi, prosím ťa, poslať save, nech s s tým vyhrám? Dík.

[2018-10-19 11:32] miracleflame commented on #441
Funfacts o Wespovi (to je autor UP, ktorý vyvíja už pomaly dve dekády):

počet ovládaných programovacích jazykov - 0

textový editor používaný na patchovanie - Wordpad

internetové pripojenie - 1 Mbit

pracovný štýl - každý deň si spakuje poslednú verziu svojho pracovného adresára UP (2,6 GB cca 18000 úborov) a na prenosnom médiu (predpokladá sa, že ak by to diskety kapacitne uniesli, použil by di

[2018-10-19 12:09] Honzixx commented on #441
To je mazec 😀

[2018-10-19 12:14] miracleflame commented on #441
...a stále nechápe, čo je na tom lepšie, je to pre neho iba príťaž navyše, lebo aj tak mieni všetko robiť AJ po starom. 🤦‍♂️

[2018-10-19 15:29] maarten93 commented on #441
''Asi je ze staré školy'' 😁 Asi má tak zaběhlý a naučený jeho systém, že mu něco jiného a i jednoduššího přijde složitější. On asi UP nedělá sám ne? Někde jsem o něm četl že je povoláním chemik.

[2018-10-19 15:33] maarten93 commented on #441
Tedy je rozhovor s ním: https://offtherecordblog.org/2017/08/18/interview-with-wesp5/

Jestli jsem si to správně přeložil, tak celou hru dohrál pouze jednou za Toeradora a ostatní klany se mu nelíbí.

[2018-10-19 15:40] maarten93 commented on #479
https://drive.google.com/open?id=12gG_WKacyQ-iaFe8MaxgXXMzhV_vWfIr - atrium
https://drive.google.com/open?id=1YIqWW-48mIJOFf3FkPy2Ix9bAduZ9urB - vestibul

Snad jsou to správné savy, první atrium by měl být Andrei hned na začátku hotelu, druhý vestibul je po prosekáni se sabbaty v hotelu.

[2018-10-19 16:33] miracleflame commented on #441
Správne by som to preložil tak, že nie je žiadny klan, čo by sa mu nepáčil. Inak to robí sám s podporou komunity na fóre a ako som sa dočítal, tak projekt prebral po niekom inom, ale netuším kedy to bolo. Myslím, že hódne dávno.

EDIT:
Otázka úplne mimo misu... Máte radi System Shock 2?

[2018-10-19 16:34] miracleflame commented on #479
Ešte preistotu save pred načítaním mapy atria. Mám obavy, že by som mohol mať inode problém so zamrznutými postavami.

[2018-10-19 17:44] maarten93 commented on #441
https://drive.google.com/open?id=1siTZQBWwreIz0a7oYdVuE0LgJVHCNiOY

[2018-10-19 17:45] maarten93 commented on #479
https://drive.google.com/open?id=1siTZQBWwreIz0a7oYdVuE0LgJVHCNiOY

[2018-10-19 17:49] maarten93 commented on #441
System Shock 2 jsem nikdy nehrál, ani první díl, ale myslím že jsem o něm četl, to je ta hra kde se vzbouří umělá inteligence? Četl jsem nějaký článek že snad někdo chystá nějaký remake.

[2018-10-19 18:55] maarten93 commented on #482
Tohle moc nepomohlo, rozdíl je v tom že ať už udělám cokoliv tak mě vždy napadne.

[2018-10-19 19:00] maarten93 commented on #483
Už ok.

[2018-10-19 19:04] maarten93 commented on #484
Už je to ok.

Dabing je v pohodě a zní i jako Andrei.

[2018-10-19 19:18] #483 closed, assigned to nobody

[2018-10-19 19:18] #484 closed, assigned to nobody

[2018-10-20 07:58] miracleflame commented on #468
Je to bug, ktorý bol opravený až vo vyšších releasoch a keďže nemám šajnu, ktoré všetky súbory sú na to naviazané a je dosť možné, že také, čo nie sú súčasťou prekladu, nebudem to opravovať, ale budú obe varianty rovnaké o tej hračke. Dík.

[2018-10-20 07:58] #468 closed, assigned to miracleflame

[2018-10-20 08:59] Honzixx commented on #441
Taky jsem neměl tu čest ani s jedním System Shockem.

[2018-10-20 09:23] miracleflame commented on #479
U mňa so súčasnou češtinou bez mazania čohokoľvek v prvej variante pod schodami všetko prebehlo úplne v poriadku aj animácie aj zvuk.

Ak som s presekal cez hotel, na konci hovoril to isté, ale nebol ani zvuk ani animácie. To bude asi nejaká chyba UP. Preberiem to s Wespom.

[2018-10-20 09:24] miracleflame commented on #482
Wesp si pýta z konzoly hodnoty G.Chunk_Run a G.Chunk_Attack
moc to nešpecifikoval, ale tipujem že myslí po použití nejakej repliky.

[2018-10-20 09:33] miracleflame commented on #441
Pýtal som sa preto, lebo chcem popracovať aj na češtine k SS2, ktorá existuje, len by potrebovala korektúru a tá horšia časť je dorobenie diakritiky, lebo všetky texty sú bez diakritiky. Možno nejaký auto-correct spell check by to vedel uľahčiť, alebo mi napadol už aj google prevod reči na text, že by sa to len prečítalo atď.

K tomu ale treba mať vzťah k tej hre, len preto som sa pýtal. Inak to p

[2018-10-20 10:47] maarten93 commented on #479
Já jsem předtím promazal sound\character\dlg\hollywood\andrei\line185-251_col_e.lip, teď jsem to zkoušel znovu a až na první repliku buď pozdravena, vůbec nehýbe pusou když mluví.

[2018-10-20 10:52] maarten93 commented on #441
Koupím jí na Gogu a zkusím jí, hry podobného typu mě hodně baví, klidně pokud budeš chtít tak ti pomůžu s testováním.

[2018-10-20 10:55] maarten93 commented on #441
Koukám že na to také vycházejí patche.

[2018-10-20 11:02] maarten93 commented on #482
G.Chunk_Run je 1 a G.Chunk_Attack je 0 po použití dominance která by ho měla donutit utéct.

[2018-10-20 11:05] miracleflame commented on #441
A nie len patche ale aj iné mody a tie veľmi odporúčam. Ale ešte by som s tým počkal, kým bude pridaná diakritika, resp. opravená gramatika, lebo niektoré opravy prekladu robil Slovák. A ešte by som rád preložil aj niektoré s tých modov, čo prídávajú nový text na HUD, keď príde mail alebo quest notifikácie. Potom by som celý ultimátny balíček modov poslal ako portable okamžite použiteľnú vec - iba

[2018-10-20 11:06] maarten93 commented on #482
Pokud nepoužiji žádnou schopnost nebo přesvědčovací metodu tak G.Chunk_Run je 0 a G.Chunk_Attack je 1

[2018-10-20 11:15] maarten93 commented on #441
Poslal jsem ti e-mail.

[2018-10-21 22:31] miracleflame commented on #482
Ok, toto je každopádne záležitosť UP a nie prekladu, takže to zatvorím. Dík.

[2018-10-21 22:31] #482 closed, assigned to miracleflame

[2018-10-21 22:34] miracleflame commented on #479
Toto nechávam otvorené do ďalšieho releasu, keďže v UP10.0 oprava nehrozí.

[2018-10-21 22:36] miracleflame commented on #441
@soulcharmer
Pripravené na release po skompilovaní inštalačky. Je to na tebe.

Ešte raz díky za neoceniteľnú pomoc s opravami @maarten93 @Honzixx

[2018-11-17 16:06] soulcharmer commented on #441
Tak snad konecne hotovo:

https://prekladyher.eu/preklady/vampire-the-masquerade-bloodlines.315/

Kouknete na to, jestli nekde neco nechybi.

Doky!

[2018-11-18 16:20] miracleflame commented on #441
Až na taký detail, že sa tam v popisoch aj FAQ spomína verzia 9.7 namiesto 10.0 je to krásne.

[2018-11-18 21:51] soulcharmer commented on #441
Fixed.
Zavirame :)?

[2018-12-04 15:37] #441 closed, assigned to soulcharmer

[2021-12-30 21:48] Natalia-Oreiro opened #490 "Aktualizace překladu"
@soulcharmer @miracleflame
Ahoj,

Poslední verze z gog.com je:
[code]

Podle příspěvků na fůru gogu to vypadá, že se hra už nebude aktualizovat na novější neoficiální patche z důvodu, že tato verze je plně dostačující.
(Novější verze spíše přidávají nový obsah než by opravovali chyby ve hře).

Bylo by tedy možné prosím, překlad zkontrolovat a provést aktualizaci na "up_10.2", děkuji.

[2022-02-26 07:51] miracleflame commented on #490
Na branchi UP10.2 sú už pripravené všetky dáta v podobe, ktorú následne treba:
- doprekladať
- skonvertovať do font-friendly podoby
- skompilovať inštalátor / testovať / opravovať

Budem vytvárať po kúskoch "issues" tikety s textami na doprekladanie.

[2022-02-26 14:08] miracleflame opened #491 "Preklad dlg updates chinatown downtown 198b40b5"
[commit](https://github.com/soulcharmer/gog_bloodlines_cz/commit/198b40b54f746549bba24d93da9fa832394db657)

cestina\dlg\chinatown\barabus.dlg
{	1	}{	[In a prison, desperate to get out]PUSŤ MĚ VEN!	}{	[In a prison, desperate to get out]PUSŤ MĚ VEN!	}{	#	}{	npc.SetDisposition("Anger", 3)	}{	}{	}{	}{	}{	}{	}{	}{	}
**{	2	}{	Wait...	}{	Wait...	}{	11	}{	}{	}{	}{	}{	}{	}{	}{	}{	Wait and see...	}**

cesti

[2022-02-26 14:25] miracleflame opened #492 "Preklad dlg updates generic giovanni hollywood main characters d8709cd2"
d8709cd2

cestina\dlg\Hollywood\andrei.dlg
{	178	}{	Zdá se, že jsem přemohl všechny tvoje stvůry **in the sewers**. Prošel jsem a můžu se už přidat k Sabbatu?	}{	Zdá se, že jsem přemohla všechny tvoje stvůry **in the sewers**. Prošla jsem a můžu se už přidat k Sabbatu?	}{	185	}{		}{		}{	}{	}{	}{	}{	}{	}{	Mohu se nyní přidat ke Kainovým mečům, když tvá krvavá zvířátka už nežijí?	}

cestina\dlg\Holl

[2022-02-26 14:33] miracleflame opened #493 "Preklad dlg updates santa monica 3bd1796b"
3bd1796b

cestina\dlg\santa monica\arthur.dlg
**{	2	}{	Hello there! How you've been?	}{	Hello there! How you've been?	}{	#	}{	}{	}{	}{	}{	}{	}{	}{	}{	}
{	3	}{	Hi.	}{	Hi.	}{	11	}{	}{	}{	}{	}{	}{	}{	}{	}{	Greetings!	}
{	6	}{	Lovely night, huh?	}{	Lovely night, huh?	}{	#	}{	}{	}{	}{	}{	}{	}{	}{	}{	}**

cestina\dlg\santa monica\bertram.dlg
**{	554	}{	Maybe I can make it up for you later.	}{	Maybe I ca

[2022-02-26 14:36] miracleflame opened #494 "Preklad new doll6.dlg 20558567"
20558567

{	1	}{	Hey! How ya doin'?	}{	Hey! How ya doin'?	}{	#	}{	npc.SetDisposition("Neutral", 1)	}{	}{	}{	}{	}{	}{	}{	}{	}
{	2	}{	I guess smoking isn't enough for you, handsome.	}{	I guess smoking isn't enough for you, handsome.	}{	11	}{	Seduction 5 & not IsMale(pc)	}{	}{	}{	}{	}{	}{	}{	}{	You need more than to puff, my beauty.	}
{	3	}{	Would you like to suck on something else than a cigar?	}{	W

[2022-02-27 20:40] soulcharmer commented on #493
cestina\dlg\santa monica\arthur.dlg
{ 2 }{ Zdravím! Jak se vede? }{ Zdravím! Jak se vede? }{ # }{ }{ }{ }{ }{ }{ }{ }{ }{ }
{ 3 }{ Brýden. }{ Brýden. }{ 11 }{ }{ }{ }{ }{ }{ }{ }{ }{ Zdravíčko! }
{ 6 }{ Krásná noc, že? }{ Krásná noc, že? }{ # }{ }{ }{ }{ }{ }{ }{ }{ }{ }

nejsem si jist, zda se ^ realne pouziva...

cestina\dlg\santa monica\bertram.dlg
{ 554 }{ Možná bych ti to mohl někdy vynahradi

[2022-02-28 14:00] #493 closed, assigned to nobody

[2022-02-28 15:14] miracleflame opened #495 "Preklad lip files updates"
8752fc99

cestina\sound\character\dlg\hollywood\slater\line1_col_e.lip
"S'up- oh, uh, and welcome to Red Spot, home of the Monstro-Chug, 72 ounces of your favorite beverage for 89cents, blah... blah. You need some help or something?"

cestina\sound\character\female\float_10.lip
Why didn't I do that before?

cestina\sound\character\female\float_11.lip
Parking validation.

cestina\sound\character\fe

[2022-02-28 15:52] miracleflame opened #496 "Preklad hackterminals"
288181c1

cestina\vdata\hackterminals\empire_lobby_computer.txt
			"name"		"Brooklyn"
			"description"	"Closed"
			"runtext"	"The Brooklyn Suite (5th floor) is CLOSED due to crime investigation."

			"name"		"Buffalo Suite"
			"description"	"Closed"
			"runtext"	"The Buffalo Suite (6th floor) is CLOSED due to crime investigation."

cestina\vdata\hackterminals\haven_pc.txt
		"subject"	"Knihovna"

[2022-02-28 16:06] miracleflame opened #497 "Preklad zvysok vdata"
2fe51253
8be670be

cestina\vdata\signs\newspaper_elizabeth_dane.txt
		"Text"				"ZÁHADA NA VODĚ"
		"Text"				"DAVY JONES SHOCKER"

cestina\vdata\signs\newspaper_oh_1.txt
		"Text"				"POŽÁR V HOTELU!"
		"Text"				"OCEAN HOUSE FIRE!"

cestina\vdata\signs\tutorial_popup_computers2.txt
Pokud tvá úroveň Hackování bude stejná nebo vyšší než úroveň zabezpečení dané položky, tvůj pokus se zdaří.
**To stop

[2022-03-02 22:07] soulcharmer commented on #491
cestina\dlg\downtown la\pisha.dlg
{ 156 }{ Postaral jsem se o něj po svém. Neřekne ani slovo. Strach mu to nedovolí. Jestli mi nevěříš, najdeš ho tady.	}{ Postarala jsem se o něj po svém. Neřekne ani slovo. Strach mu to nedovolí. Jestli mi nevěříš, najdeš ho tady.	}{ 171 }{ G.Mill_Intimidate == 1 and G.Patch_Plus == 1 and pc.HasItem("item_w_claws_ghoul") }{ pc.RemoveItem("item_w_claws_ghoul") }{ }

[2022-03-05 22:24] soulcharmer commented on #492
cestina\dlg\Hollywood\andrei.dlg
{ 178 }{ Zdá se, že jsem přemohl všechny tvoje stvůry v kanálech. Prošel jsem a můžu se už přidat k Sabbatu? }{ Zdá se, že jsem přemohla všechny tvoje stvůry v kanálech. Prošla jsem a můžu se už přidat k Sabbatu? }{ 185 }{ }{ }{ }{ }{ }{ }{ }{ }{ Mohu se nyní přidat ke Kainovým mečům, když tvá krvavá zvířátka už nežijí? }

cestina\dlg\Hollywood\gargoyle.dlg
{ 142 }

[2022-03-12 07:42] miracleflame commented on #491
Takže tu chýba ešte preklad prvých 8 postáv.

[2022-03-13 12:40] soulcharmer commented on #491
cestina\dlg\chinatown\barabus.dlg
{ 1 }{ [In a prison, desperate to get out]PUSŤ MĚ VEN! }{ [In a prison, desperate to get out]PUSŤ MĚ VEN! }{ # }{ npc.SetDisposition("Anger", 3) }{ }{ }{ }{ }{ }{ }{ }{ }
{ 2 }{ Počkej... }{ Počkej... }{ 11 }{ }{ }{ }{ }{ }{ }{ }{ }{ Vyčkej a uvidíš... }

cestina\dlg\chinatown\wongho.dlg
{ 62 }{ Rozumím. Víte, kam ji Tongové odnesli? }{ Rozumím. Víte, kam ji Tongo

[2022-03-14 10:15] miracleflame commented on #491
preložené 95a39d5d

[2022-03-14 10:15] #491 closed, assigned to nobody

[2022-03-14 10:25] miracleflame commented on #492
Preložené 58eaf7c8

[2022-03-14 10:25] #492 closed, assigned to nobody

[2022-03-19 21:46] soulcharmer commented on #494
{ 1 }{ Čau! Jak se vede? }{ Čau! Jak se vede? }{ # }{ npc.SetDisposition("Neutral", 1) }{ }{ }{ }{ }{ }{ }{ }{ }
{ 2 }{ Tipuju, že pokuřování ti tak úplně nestačí, fešáku. }{ Tipuju, že pokuřování ti tak úplně nestačí, fešáku. }{ 11 }{ Seduction 5 & not IsMale(pc) }{ }{ }{ }{ }{ }{ }{ }{ Potřebuješ více než šlukovat, krasavče. }
{ 3 }{ Nechceš pokouřit něco kromě toho cigára? }{ Nechceš pokouřit n

[2022-03-19 22:02] soulcharmer commented on #495
cestina\sound\character\dlg\hollywood\slater\line1_col_e.lip
"Jak je? Aha, vítejte v Sámošce, kde máme Monstro-Chug, 2 litry oblíbenýho pití za 89 centů. Bla, bla, bla. Potřebujete s něčím pomoct?"

cestina\sound\character\female\float_10.lip
Proč jsem to neudělala už dřív?

cestina\sound\character\female\float_11.lip
Ověření parkovného.

cestina\sound\character\female\float_12.lip
Ehm... a sakra.

[2022-03-20 13:22] miracleflame commented on #494
49dddb16

[2022-03-20 13:22] #494 closed, assigned to nobody

[2022-03-20 13:48] miracleflame commented on #495
49dddb16

[2022-03-20 13:48] #495 closed, assigned to nobody

[2022-03-20 14:28] soulcharmer commented on #496
cestina\vdata\hackterminals\empire_lobby_computer.txt
"name" "Brooklyn"
"description" "Zavřeno"
"runtext" "Apartmán Brooklyn (paté podlaží) je UZAVŘEN kvůli kriminálnímu vyšetřování."

		"name"		"Apartmán Buffalo"
		"description"	"Zavřeno"
		"runtext"	"Apartmán Buffalo (šešté podlaží) je UZAVŘEN kvůli kriminálnímu vyšetřování."

cestina\vdata\hackterminals\haven_pc.txt
"subject" "Knihovna"
"sender

[2022-03-20 16:58] miracleflame commented on #496
32e39414

[2022-03-20 16:58] #496 closed, assigned to nobody

[2022-03-20 17:03] miracleflame commented on #497
Tieto dva vlastne nemajú zmenu. Tento text bol rovnaký v predošlých verziách. Keď som to sem dával som si to neuvedomil, myslel som, že ide o zmenu textu.

cestina\vdata\signs\newspaper_elizabeth_dane.txt
"Text" "ZÁHADA NA VODĚ"
"Text" "DAVY JONES SHOCKER"

cestina\vdata\signs\newspaper_oh_1.txt
"Text" "POŽÁR V HOTELU!"
"Text" "OCEAN HOUSE FIRE!"

[2022-03-22 22:31] soulcharmer commented on #497
cestina\vdata\signs\tutorial_popup_computers2.txt
Pokud tvá úroveň Hackování bude stejná nebo vyšší než úroveň zabezpečení dané položky, tvůj pokus se zdaří.
Práci v terminálu ukončíš příkazem "quit" nebo klávesou ESC." // changed by wesp"

cestina\vdata\system\quests_hollywood.txt
"ID" "4" // Killed Misti
"Description" "Máš na svědomí smrt Misti, takže VV už se s tebou nebude bavit."
"ID" "11" //

[2022-03-23 07:54] miracleflame commented on #497
c650f0ca

[2022-03-23 07:54] #497 closed, assigned to nobody

[2022-03-28 07:35] soulcharmer commented on #420
Cau @miracleflame , zbyva tady jeste neco udelat nebo uz se jedna jen o dokonceni prace v #490 ?

[2022-03-28 13:23] miracleflame commented on #420
Čau, toto je teraz na mne, aby som urobil Python skript na všetky popísané kroky. Takže som si to dal na seba.
K dokončeniu #490 treba v tomto bode už len skonvertovať texty, skompilovať inštalátor, testovať, nalikovať na preklady.eu a predovšetkým upraviť a zjednodušiť popis, aby neodkazoval na GitHub, lebo sú tam ľudia, ktorý nepoužujú tlačítko stiahnuť, ale idu na GitHub master vetvu, ktorá je

[2022-04-03 17:47] miracleflame commented on #479
Otestované v češtine 10.2beta a bug už neexistuje.

[2022-04-03 17:47] #479 closed, assigned to miracleflame

[2022-04-10 14:24] miracleflame opened #498 "Preklad cestina\sound\character\dlg\santa monica\arthur\line1_col_e.lip"
"I don't care! I need to find him, so he can find him! It's 250 grand of my money on the line here! [looks up] Look look, I'll talk to you later okay? Lemme know if you hear anything about either!"

[2022-04-10 15:33] soulcharmer commented on #498
"To je mi fuk! Potřebuju ho najít, aby ho mohl najít! Lítá mi v tom 250 táců! Hele, hele, ještě ti zavolám, jo? Dej vědět, kdybys o nich něco zjistil!"

Je to asi puvodne cut content - mimochodem, je to skriptovana sekvence, co se prehraje jen jednou. V me ciste instalaci se taky pri vstupu objevi na obrazovce "A.I. Disabled", coz vypada jako debug zprava, kterou bysme mohli nahradit prazdnym rete

[2022-04-12 18:36] miracleflame opened #500 "UP 11.1 Plus main menu logo"
Before:
![image](https://user-images.githubusercontent.com/19254203/163030544-063e229e-386f-4f35-9327-67f4c83d3cfe.png)

After:
![image](https://user-images.githubusercontent.com/19254203/163030305-c88d20aa-c60b-4159-8b27-d4e696d39bd2.png)

Táto textúra prepíše pôvodné české logo so sponzormi.
Ako s tým naložiť?

[2022-04-12 19:12] miracleflame opened #501 "preklad scripts/kb_act.lst"
"toggleuiside"		"Toggle Discipline/Weapon"

[2022-04-12 19:37] miracleflame opened #502 "preklad item_w_rem_m_700_bach.txt"
"ammoprintname"			".308 High Velocity Round"	// changed by Wesp
		"ammodescription"		"A .308 Winchester Match King rifle round for precise sniping with Remington rifles."	// changed by Wesp

		_"ammoprintname"			"Dalekonosná munice"
		"ammodescription"		"Náboje ráže .308, nejčastěji určené k odstřelování."_

[2022-04-13 13:43] miracleflame opened #503 "??? item_w_tzimisce2_head.txt"
"printname"		"Thaumaturgy"
	"description"	"Thaumaturgy casting"		// changed by wesp

		"ammoprintname"		"Crossbow Bolt"
		"ammodescription"	"A quiver of crossbow bolts."

[2022-04-13 14:01] miracleflame opened #504 "preklad loadingtips.txt"
To avoid trouble when arriving select the target location on the map with a mouse button that is not used to trigger an attack or choose fists as your weapon before you travel."	// changed by wesp

Feed often and maintain your Humanity to prevent frenzy."

[2022-04-13 14:30] miracleflame opened #505 "stats.txt"
The victim is shown his greatest waking Nightmares, eventually causing a heart attack.

The target and any others nearby all suffer a fatal episode.

EDIT:
Odstránil som disciplíny, ktoré sme v minulosti neprekladali a asi slúžia na multiplayer alebo čo.

[2022-04-13 14:35] miracleflame opened #506 "preklad strings.txt"
"Name5"		"In the game of life, your reading skills are ET for the 2600."
			"Name6"		"Vampire might not need glasses, but they DO need 'Hooked on Phonics.'"

[2022-04-14 08:40] miracleflame opened #507 "možno preklad nových textúr 1be8bd5c"
1be8bd5c

UPbasicCZ\materials\decals\signs\gatesign.ttz
![image](https://user-images.githubusercontent.com/19254203/163985311-058d6b2d-444d-49c3-b796-e5602f1a5a52.png)

UPbasicCZ\materials\models\items\garys_tape\garys_tape.ttz
![image](https://user-images.githubusercontent.com/19254203/163985956-d4663bcd-ef29-4c84-b9cb-4394ac43499f.png)

UPbasicCZ\materials\models\items\garys_tape\garys_tape_ref.

[2022-04-14 09:35] miracleflame opened #508 "preklad chateau_computer.txt"
TerminalDefinition
{
	"screen saver"		"Chateau Hotel"		// Bounces around on the screen when the terminal is not being used.
	"brackets"		""			// these surround the command prompt (2 characters), changed by wesp

	"email_password"	"pearl"		// the user must type this to access email from this terminal, changed by wesp
	"email_username"	"Steward"	// changed by wesp

	LogonScreen	// displayed when the

[2022-04-16 17:44] miracleflame opened #509 "preklad UPbasicCZ\vdata\hackterminals\morgue_computer.txt"
c50d400d

Note: Subject's body contained only one pint of blood. Foul play suspected."

[2022-04-16 17:45] miracleflame opened #510 "preklad UPbasicCZ\vdata\hackterminals\scott_laptop.txt"
c50d400d
b5e7081e

To si asi radšej pozri v diffe ako sa text pomenil.

	{
			"name"		"1"			// this is what the player must type in to trigger this function. (16 characters)
			"description"	"První poznámka"		// this is a description of this function  (128 characters)
			"runtext" "Beckett chtěl, ať nastuduju jakýsi starověký sarkofág ve veřejné knihovně. Když jsem tam jednou v noci četl, všiml js

[2022-04-19 08:48] miracleflame opened #511 "Zmeny v názvoch kľúčov"
Nechám na zváženie, či niečo z toho chceš meniť.

![image](https://user-images.githubusercontent.com/19254203/163962345-a96a57a8-72a0-4607-935a-7300d9dcebe4.png)

![image](https://user-images.githubusercontent.com/19254203/163962490-470a1630-af66-4919-9170-423900f48328.png)

![image](https://user-images.githubusercontent.com/19254203/163962633-55509cb3-e49d-4102-b4a0-5009fb195346.png)

![image](ht

[2022-04-19 09:19] miracleflame opened #512 "Preklad Combat knife"
49d78cdc

UPbasicCZ\vdata\items\item_w_avamp_blade.txt
	"printname"		"Combat Knife"	// changed by wesp
	"description"		"Some knives are used to carve up food. Some knives are used to carve up people. This is one of the latter."	// changed by wesp

[2022-04-19 10:28] miracleflame opened #513 "Preklad signs 4e6548da"
4e6548da

pier_note.txt
"Beckett,  the  meeting  here  seems  to  be  a  trap!  In  case  I  don't  make  it,  check  the  shop  on  the  move  in  Santa  Monica.  I  left  the  door  unlocked,  my  password  is  the  city  of  the  coffin.  -Scott"

smoke_note.txt
"Beckett,  couldn't  wait  any  longer.  The  guy  left  early.  He  intends  to  meet  someone  at  the  end  of  the  pier.  Hope  t

[2022-04-22 11:49] miracleflame commented on #490
Info pre doplnenie...
Aktuálny GOG release má v sebe UP 11.1 a na češtine sa pracuje na forku a branchi
https://github.com/miracleflame/gog_bloodlines_cz/tree/UP11.1

[2022-04-24 10:33] soulcharmer opened #514 "2 preklepy nalezene v 10.2"
beachhouse hackterminal: Californie -> Kalifornie

loading tips: lze zíkat -> lze získat

[2022-04-24 10:33] miracleflame commented on #420
[Celá štruktúra je už prekopaná](https://github.com/miracleflame/gog_bloodlines_cz/tree/UP11.1) na aby bola prehľadnejšia, všetky medzikrokové a dump súbory som odstránil a na veškerú kompiláciu už stačí použiť iba môj [converter.py](https://github.com/miracleflame/gog_bloodlines_cz/blob/UP11.1/converter.py) (využíva externú library unidecode) + následne nsis kompilátor inštalačky.

Na uzavretie t

[2022-04-30 07:59] soulcharmer commented on #513
pier_note.txt
"Beckette, tahleta schůzka vypadá na nějakou past! Kdybych to nedal, zajdi do obchodu, co se stěhuje ze Santa Moniky. Nechal jsem otevřený dveře a heslo je město sarkofágu. -Scott"

smoke_note.txt
"Beckette, už jsem nemohl dýl čekat. Ten týpek odešel brzo. Chce se s někým potkat na konci promenády. Doufám, že se tam uvidíme. -Scott"

tutorial_popup.txt
"Text" " Varování!
Zdá se, že s

[2022-04-30 09:27] soulcharmer commented on #512
UPbasicCZ\vdata\items\item_w_avamp_blade.txt
"printname" "Bojový nůž" // changed by wesp
"description" "Některé nože jsou na krájení jídla. Jiné nože jsou na krájení lidí. Tento patří do té druhé skupiny." // changed by wesp

[2022-05-02 15:32] miracleflame opened #515 "Preklad vdata ee087376"
ee087376

UPbasicCZ\vdata\system\quests_chinatown.txt
			"ID"		"4" // 	kill ox
			"Description"	"**You have made Mr. Ox vanish**, takže jakékoliv dohody s ním jsou tímto anulovány."

			"ID"		"2" // 	place talisman
			"Description"	"Podařilo se ti umístit talisman neštěstí. **Now report back to Mr. Ox.**"

			"ID"		"3" // 	Shu 31, 41, Shu killed
			"Description"	"Vyřídil(a) sis to s Shuem, protože

[2022-05-02 17:04] miracleflame opened #516 "Preklad dlg chinatown d78de2a5"
d78de2a5

UPbasicCZ\dlg\chinatown\barabus.dlg
{	6	}{	Calm down, I'm not one of them.	}{	Calm down, I'm not one of them.	}{	11	}{	}{	}{	}{	}{	}{	}{	}{	}{	Behave, I am your kind of monster.	}
{	72	}{	My pleasure.	}{	My pleasure.	}{	0	}{	}{	}{	}{	}{	}{	}{	}{	}{	Thank to me too.	}

UPbasicCZ\dlg\chinatown\barry_r.dlg
{	2	}{	The guy with the ponytail and glasses at the table mi to odkýval.	}{	The guy w

[2022-05-02 17:11] #512 closed, assigned to miracleflame

[2022-05-02 17:15] #513 closed, assigned to miracleflame

[2022-05-02 17:17] #514 closed, assigned to miracleflame

[2022-05-02 22:15] soulcharmer commented on #511
To jsou vcelku smysluplne zmeny, takze od shora dolu:

Klíč Leopoldovy společnosti
Klíč od cely.

Klíč Syndikátu Fu
Klíč od zamčené cely.

Klíče od hlavního vstupu do muzea
Tohle jsou klíče od hlavní brány do muzea.

beze zmeny
beze zmeny

Náhradní klíč od zastavárenské ubytovny
Něčí náhradní klíč.

Klíč od kotelny hotelu Ocean House
Klíč se štítkem KOTELNA.

Klíč od hotelového pokoje na patře
Klí

[2022-05-03 10:21] miracleflame opened #517 "Preklad dlg downtown la e07c8ca6"
e07c8ca6

UPbasicCZ\dlg\downtown la\boris.dlg
{	2	}{	I don't understand you.	}{	I don't understand you.	}{	11	}{	}{	}{	}{	}{	}{	}{	}{	}{	Yes, what the hell?	}
{	4	}{	Sometimes the voices explain.	}{	Sometimes the voices explain.	}{	211	}{	}{	}{	}{	}{	}{	}{	}{	}{	Sometimes the voices explain.	}
{	6	}{	What?	}{	What?	}{	1	}{	}{	}{	}{	}{	}{	}{	}{	}{	I'm coming.	}
{	8	}{	Huh?	}{	Huh?	}{	21	}{	}{	}{	}{

[2022-05-03 10:37] miracleflame commented on #511
Hotovo. Bude treba otestovať, ako sa tie dlhé názvy predmetov ukážu v hre... Preto to nechám otvorené...?

[2022-05-04 21:03] soulcharmer commented on #501
Přepínač disciplín a zbraní

[2022-05-05 07:27] soulcharmer commented on #516
UPbasicCZ\dlg\chinatown\barabus.dlg
{ 6 }{ Klídek, nejsem jeden z nich. }{ Klídek, nejsem jedna z nich. }{ 11 }{ }{ }{ }{ }{ }{ }{ }{ }{ Chovej se slušně, Já jsem v tvém týmu. }
{ 72 }{ Rádo se stalo. }{ Rádo se stalo. }{ 0 }{ }{ }{ }{ }{ }{ }{ }{ }{ Také si děkuji. }

UPbasicCZ\dlg\chinatown\barry_r.dlg
{ 2 }{ Chlápek u stolu v brýlích a s culíkem mi to odkýval. }{ Chlápek u stolu v brýlích a s c

[2022-05-05 07:28] soulcharmer commented on #511
OK

[2022-05-07 11:45] soulcharmer commented on #505
Vyvolá u oběti její nejhorší noční můry, které ve finále způsobí zástavu srdce.

Cíl a všichni ostatní v blízkém okolí utrpí smrtelný záchvat.

[2022-05-07 12:02] soulcharmer commented on #504
Pokud nechceš způsobit potíže při příjezdu do nové oblasti přes mapu, ujisti se, že tlačítko myši, které používáš pro výběr cíle, není namapováno na útok nebo před výběrem místa na mapě přepni svou zbraň na pěsti." // changed by wesp

Záchvatům běsu se můžeš vyhnout, pokud budeš pravidelně doplňovat svou zásobu krve a udržovat svou Lidskost."

[2022-05-07 12:08] soulcharmer commented on #500
prepsat, dokud byl sponzoring pri vyrabeni prekladu (a mnoho let po te), byla tam loga uvedena. Ted uz nekolik let udrzujeme cestinu sami a zadny sponzoring nemame ani nepotrebujeme.

Dik.

[2022-05-07 12:16] soulcharmer commented on #502
_"ammoprintname"		"Dalekonosná munice"
	"ammodescription"		"Náboje .308 Winchester Match King pro přesné odstřelování z pušek Remington."_

[2022-05-07 12:29] soulcharmer commented on #503
viz https://gamefaqs.gamespot.com/pc/914819-vampire-the-masquerade-bloodlines/faqs/35207

tezko rict, zda se to vubec nekde zobrazi

"printname"		"Divotvorství"
"description"	"Magie krve"		// changed by wesp

	"ammoprintname"		"Šipky do kuše"
	"ammodescription"	"Toules šipek do samostřílu."

[2022-05-11 08:55] miracleflame commented on #500
Ja si práve nemôžem dovoliť tvrdiť, že by som sponzoring nepotreboval, ale o tom asi inakade.
Je to v repe, takže to tam ponechávam.

[2022-05-11 08:55] #500 closed, assigned to miracleflame

[2022-05-11 08:58] #501 closed, assigned to miracleflame

[2022-05-11 09:08] #502 closed, assigned to miracleflame

[2022-05-11 09:11] miracleflame commented on #503
Odvoláva sa na to traiteffects000.txt z Plus verzie. Dosť možné, že v hre sa to textovo nezobrazí, nechávam otvorené pre testovanie.

[2022-05-11 09:15] #504 closed, assigned to miracleflame

[2022-05-11 09:17] #505 closed, assigned to miracleflame

[2022-05-11 09:36] miracleflame commented on #516
Ešte poprosím malkaviánsku repliku
{ 329 }{ Teď když mi oba nabízíte stejnou slevu, jeden z vás musí jít. }{ Teď když mi oba nabízíte stejnou slevu, jeden z vás musí jít. }{ 391 }{ G.Lu_Ji > 3 and G.Ji_Lu != 6 }{ }{ }{ }{ }{ }{ }{ }{ I'll net the same from your nest egg now, so one of you has to go. }

[2022-05-11 10:39] miracleflame opened #518 "Preklad dlg Giovanni"
0bc58659

UPbasicCZ\dlg\giovanni\adam.dlg
{	51	}{	Určitě? Pokud byste změnil názor, dejte mi vědět. Věřte mi, vážně je to ve vašem zájmu zúčastnit se. Popřemýšlejte o tom.	}{	Určitě? Pokud byste změnila názor, dejte mi vědět. Věřte mi, vážně je to ve vašem zájmu zúčastnit se. Popřemýšlejte o tom.	}{	#	}{	}{	}{	}{	}{	}{	}{	}{	}{	}
{	52	}{	I will.	}{	I will.	}{	0	}{	}{	}{	}{	}{	}{	}{	}{	}{	I'll disc

[2022-05-11 14:25] soulcharmer commented on #516
aaa, pardon.

Vylepsil jsem cely radek:

{ 329 }{ Teď když mi oba nabízíte stejnou slevu, jeden z vás už není potřeba. }{ Teď když mi oba nabízíte stejnou slevu, jeden z už není potřeba. }{ 391 }{ G.Lu_Ji > 3 and G.Ji_Lu != 6 }{ }{ }{ }{ }{ }{ }{ }{ Nyní když oba poskytujete stejné procento, jeden z vás musí jít. }

[2022-05-12 15:54] miracleflame commented on #516
Moja chyba, že som to tam nedal prvý raz, ale pri nahradzovaní mi to neuniklo.

[2022-05-12 15:54] #516 closed, assigned to soulcharmer

[2022-05-16 13:25] soulcharmer commented on #518
UPbasicCZ\dlg\giovanni\adam.dlg
{ 51 }{ Určitě? Pokud byste změnil názor, dejte mi vědět. Věřte mi, vážně je to ve vašem zájmu se zúčastnit. Popřemýšlejte o tom. }{ Určitě? Pokud byste změnila názor, dejte mi vědět. Věřte mi, vážně je to ve vašem zájmu se zúčastnit. Popřemýšlejte o tom. }{ # }{ }{ }{ }{ }{ }{ }{ }{ }{ }
{ 52 }{ Dobře. }{ Dobře. }{ 0 }{ }{ }{ }{ }{ }{ }{ }{ }{ Promluvím si se sebou

[2022-05-16 21:30] soulcharmer commented on #506
"Name5"		"Tvoje schopnosti číst jsou bohužel někde na úrovni batolete."
"Name6"		"Vampíři sice nemusí nosit brýle, ale měli by aspoň jednou zvládnout slabikář."

[2022-05-29 07:59] soulcharmer commented on #509
Poznámka: v těle oběti bylo jen necelého půl litru krve. Podezření na násilný trestný čin."

[2022-05-29 08:35] soulcharmer commented on #515
UPbasicCZ\vdata\system\quests_chinatown.txt
"ID" "4" // kill ox
"Description" "Díky tobě pan Ox zmizel, takže jakékoliv dohody s ním jsou tímto anulovány."

"ID"		"2" // 	place talisman
"Description"	"Podařilo se ti umístit talisman neštěstí. Jdi to vyřídit panu Oxovi."

"ID"		"3" // 	Shu 31, 41, Shu killed
"Description"	"Vyřídil(a) sis to s Shuem, protože tě chytil, jak schováváš do skříňky talis

[2022-05-29 09:17] soulcharmer commented on #517
UPbasicCZ\dlg\downtown la\boris.dlg
{ 2 }{ Tomu nerozumím. }{ Tomu nerozumím. }{ 11 }{ }{ }{ }{ }{ }{ }{ }{ }{ Ano. Cože co? }
{ 4 }{ Hlasy to někdy vysvětlí. }{ Hlasy to někdy vysvětlí. }{ 211 }{ }{ }{ }{ }{ }{ }{ }{ }{ Hlasy to někdy vysvětlí. }
{ 6 }{ Cože? }{ Cože? }{ 1 }{ }{ }{ }{ }{ }{ }{ }{ }{ Už jdu. }
{ 8 }{ Co? }{ Co? }{ 21 }{ }{ }{ }{ }{ }{ }{ }{ }{ To jsem já. }
{ 233 }{ Tvůj pesík se

[2022-07-10 10:31] #506 closed, assigned to miracleflame

[2022-07-10 10:34] #509 closed, assigned to miracleflame

[2022-07-10 11:22] #515 closed, assigned to miracleflame

[2022-07-10 11:46] #517 closed, assigned to miracleflame

[2022-07-10 13:04] #518 closed, assigned to miracleflame

[2022-07-18 19:37] soulcharmer commented on #507
Nevidim tam nic zasadniho, co by stalo za extra piplani. Tuhle cast bych preskocil...

[2022-07-18 20:09] soulcharmer commented on #510
"runtext" "Beckett chtěl, ať nastuduju jakýsi starověký sarkofág ve veřejné knihovně. Byla to celkem nuda, ale jednou jsem  si všiml jiného vampíra, co se tam schovával. Přecházel ze stínu do stínu jakoby portálem! Že by někdo z Lasombry? Ale co by dělal tady v LA? Že by kvůli tomu sarkofágu? Radši ho budu pár nocí sledovat, abych měl jistotu."

               "runtext"	"Dnes šel ten z Lasombry do

[2022-07-23 15:34] soulcharmer commented on #508
TerminalDefinition
{
"screen saver" "Hotel Chateau" // Bounces around on the screen when the terminal is not being used.
"brackets" "" // these surround the command prompt (2 characters), changed by wesp

"email_password"	"perla"		// the user must type this to access email from this terminal, changed by wesp
"email_username"	"Steward"	// changed by wesp

LogonScreen	// displayed when the user firs